[2011-11-24 07:07] fandrei opened #1 "implement server functionality for collecting application metrics data"

[2011-11-24 07:11] fandrei commented on #1
Implemented as a generic ASP.NET handler (ashx).

Entry point:
http://<server-name>/AppMetrics/LogEvent.ashx

Request parameters:
"MessageAppKey" (identifier of the reporting application)
"MessageSession" (id of the current session)
"MessageName" (name of reported event)
"MessageData" (data value)
"MessageTime" (time of event)

Logs are saved as tab-delimited files under App_Data folder. Events of

[2011-11-24 07:15] fandrei opened #2 "create client library for reporting application events"

[2011-11-24 07:15] #1 closed, assigned to fandrei

[2011-11-24 07:16] fandrei opened #3 "create performance measurement tools"

[2011-11-24 07:17] fandrei opened #4 "research and implement data export facilities"
It's necessary to find and implement the best way to export collected data from the server.

[2011-11-24 07:19] fandrei opened #5 "integrate AppMetrics tracking into CIAPI.CS.Excel add-in"

[2011-11-24 07:20] fandrei opened #6 "find a way to deploy AppMetrics server"

[2011-11-24 07:22] fandrei commented on #5
Done. At this moment, add-in reports both to AppMetrics and GetClicky, so we can use GetClicky functionality until AppMetrics analytics is feature complete

[2011-11-24 07:22] #5 closed, assigned to fandrei

[2011-11-24 07:24] fandrei commented on #6
Using ASP.NET deployment, at this moment.
Project/Build Deployment Package, then copy package files to the server and run AppMetrics.deploy.cmd /Y (or use Project/Publish command)
Log files under App_Data are marked to be preserved during deployment

[2011-11-24 07:24] #6 closed, assigned to fandrei

[2011-11-24 07:27] fandrei commented on #2
Client library is located in the AppMetrics.Client project. Usage sample:

[code]

Calls to the Log() method are non-blocking; all messages are put to the queue and processed later in the background thread

[2011-11-24 07:29] #2 closed, assigned to fandrei

[2011-11-24 07:37] fandrei commented on #3
load testing tool is in the folder HeavyLoadTest
usage sample:
HeavyLoadTest.exe http://localhost/AppMetrics/LogEvent.ashx
This tools involves usage both of the client-side and server-side tracking code.

[2011-11-24 07:37] #3 closed, assigned to fandrei

[2011-11-27 18:43] mrdavidlaing opened #7 "Create command line build script"
To enable integration into the Jenkins build server, a command line build script needs to be set up.

This should contain a "build" task that:
1.  Compile (and version)
2.  Run Unit Tests

A package task that:
1.  Packages the current version

[2011-11-27 18:44] mrdavidlaing commented on #7
The majority of this functionality can be pulled from the msbuild scripts included in CIAPI.CS.Excel

[2011-11-27 18:46] mrdavidlaing opened #8 "Create Jenkins build"
Run the command line build on every checkin.

If the build is successful, runs the package & deploy commands to push the new version to the 10% usage location.

[2011-11-27 18:49] mrdavidlaing opened #9 "Setup metrics.labs.cityindex.com loadbalancer"
Setup a "load balancer" behind metrics.labs.cityindex.com; that sends 90% of the traffic to the "current" deployment, and 10% to the "release candidate" deployment.

[2011-11-27 18:51] mrdavidlaing opened #10 "Create metrics collector performance report"
Create a 1 page report on the performance of the metrics collector; with particular emphasis on the difference in performance between the "current" deployment and the "release candidate" deployment.

[2011-11-27 18:52] mrdavidlaing opened #11 "Create a metrics collector exceptions report"
A one page report on the exceptions thrown by the metrics collector, comparing the "current" deployment and the "release candidate" deployment.

[2011-11-27 18:55] mrdavidlaing opened #12 "Smoke test suite"
Create a suite of tests designed to be run against the "release candidate" deployment to ensure all functionality is working as expected.

These tests should be designed to run against production data; and running them multiple times should not cause any data problems.

[2011-11-27 18:58] mrdavidlaing commented on #9
IIS7 should be able to do this for us:  http://learn.iis.net/page.aspx/486/http-load-balancing-using-application-request-routing/

[2011-11-28 07:35] fandrei opened #13 "Add authorization to the WCF Data export service"

[2011-11-28 07:55] fandrei commented on #4
Implemented as a WCF Data Service. Access point: http://localhost/AppMetrics/DataService.svc/

Syntax to retrieve list of sessions:
http://localhost/AppMetrics/DataService.svc/Sessions?appKey=CIAPI.CS.Excel&period=30.0:0:0
Syntax to retrieve list of records:
http://localhost/AppMetrics/DataService.svc/Records?appKey=CIAPI.CS.Excel&period=30.0:0:0

(filtered by app keyname and time period)
These da

[2011-11-28 07:56] #4 closed, assigned to fandrei

[2011-11-29 04:17] fandrei opened #14 "Provide remote deployment for AppMetrics server"

[2011-11-29 08:53] fandrei commented on #13
What type of authentication is best suitable for our task?

[2011-11-29 11:42] fandrei commented on #13
We've decided to use basic authentication and web.config as credentials store, at this moment.

[2011-11-30 05:29] fandrei commented on #13
UPD
I put credentials to App_Data/users.config file, to avoid overwriting these data on deployment of new versions

[2011-11-30 05:29] #13 closed, assigned to fandrei

[2011-11-30 05:30] fandrei commented on #14
Deployment will be provided by Jenkins. AppMetrics project only needs to build the deployment package

[2011-11-30 05:30] #14 closed, assigned to fandrei

[2011-12-05 09:03] #7 closed, assigned to fandrei

[2011-12-05 16:53] mrdavidlaing opened #15 "Browser (silverlight?) application to measure client latency"
This is a browser based application (silverlight?).  It should:

Create a session
Get a market list for 20 markets
Get 250 minutes of price history data for each market
Subscribe to prices for each market

We need to log "performance" related metrics back to AppMetrics so we can get a measurement of what the performance is like from the application perspective.
- Latency between making a request a

[2011-12-14 10:05] #12 closed, assigned to nobody

[2011-12-15 12:58] mrdavidlaing commented on #15
http://cityindex.api.mashery.com has been set up as a proxy for https://ciapi.cityindex.com

This requires an api_key, and applies throttles based on that key.  The proxy is hosted on the mashery cloud, so we want to measure if how this affects latency for remote customers.

Sample calls:

[code]

[2011-12-15 13:51] mrdavidlaing commented on #15
Until CIAPI.CS silverlight is fixed, start by measuring latency in Excel Addin

Initially, just connect directly to ciapi.cityindex.com

[2011-12-20 10:57] fandrei commented on #15
I've added metrics of server calls latency to the Excel add-in (at this moment it collects duration of every call to the server, in seconds). Available in the bleeding edge build.

[2011-12-22 11:36] mrdavidlaing opened #16 "Excel Addin Latency report"
Showing latency of each request type
grouped by location / machine type
showing data as histograms

[2011-12-22 11:36] fandrei opened #17 "Link Session and Record rows exported by the data service"
Every Record row must have an ID of appropriate Session

[2011-12-22 11:36] #15 closed, assigned to nobody

[2011-12-22 11:37] #8 closed, assigned to mrdavidlaing

[2011-12-26 07:07] fandrei opened #18 "Excel shows error messages and hangs when trying to retrieve big amout of data"
Using this URL http://184.73.228.71/AppMetrics/DataService.svc/Records?appKey=CIAPI.CS.Excel&period=7.0:0:0
This request includes one session with huge amount of events (~200'000), and it seems Excel data feed import facilities have problems with such amount of data. It's necessary to find a workaround.

[2011-12-26 19:14] mrdavidlaing commented on #18
Bummer.

I wonder if a custom Excel addin could get around:

(1) Max record limits
(2) Incremental updates

?

On 26 December 2011 07:07, fandrei <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2011-12-27 06:06] fandrei commented on #18
1) impossible to workaround (limited by Excel internally)

http://msdn.microsoft.com/en-us/library/ff700514.aspx#Office2007excelPerf_BigGridIncreasedLimitsExcel
http://newtech.about.com/od/microsoft/tp/5-Cool-Things-You-Can-Do-With-PowerPivot-For-Excel.htm

Excel can handle about 1 million rows max, PowerPivot can handle theoretically unlimited number of rows, but limited by size of resulting Exce

[2011-12-27 12:12] fandrei opened #19 "Integrate GeoIP"
It's necessary to provide capability to lookup client's geo location by IP address

[2011-12-27 12:43] fandrei commented on #16
I've put my sample here: https://github.com/fandrei/AppMetrics/blob/master/Samples/CIAPI.CS.Excel%20-%20Latency%20report%202.xlsx

It provides box-and-whisker plot and latency histogram, but no grouping by location yet.
PowerPivot has memory problems when importing much data (it bumps into max 32bit process memory limitation - 2GB). Maybe we can optimize this report.

[2011-12-27 13:42] mrdavidlaing commented on #19
Here is a possible geoip library - http://www.maxmind.com/app/csharp

On 27 December 2011 12:12, fandrei <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2011-12-27 13:43] mrdavidlaing commented on #18
I guess then we need to do some "summarizing" work on the server; so that
the data downloaded to excel doesn't exceed the 2GB max

On 27 December 2011 06:06, fandrei <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2011-12-27 13:44] mrdavidlaing commented on #18
Or perhaps we should be exporting data from the server to a local datastore
on the Excel PC that has some summarising capabilities - perhaps a
SQLExpress db?

On 27 December 2011 13:43, David Laing david@davidlaing.com wrote:

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2011-12-28 11:50] fandrei commented on #18
I think the simplest way is to write a tool to make aggregations that we need, before importing data into Excel.

[2011-12-28 11:51] fandrei commented on #16
New updated version of the report including new logs data, slicing by regions and additional small improvements.
(I had to truncate some sessions, because Excel wasn't capable to handle all data)

[2011-12-28 14:28] #17 closed, assigned to fandrei

[2011-12-29 06:36] fandrei opened #20 "Solve problem: losing messages on application close"
At the moment when the application closes, client code drops messages left in queue if they can't be sent within  period of 5 seconds. This is done to avoid making user wait too much.
It's necessary to find a way to send all messages before application is closed, to avoid truncated sessions.

[2012-01-03 08:56] fandrei commented on #19
done (IP lookup is performed when creating report)

[2012-01-03 08:56] #19 closed, assigned to fandrei

[2012-01-03 09:02] fandrei commented on #18
I've created a tool to pre-calculate data for Excel RPC latency report (at this moment, it's implemented as console application and located in DataConvertor folder). It should be able to handle up to ~10'000'000 latency values.
If we need to process more data, it will be necessary to use more sophisticated algorithms

[2012-01-03 09:02] #18 closed, assigned to fandrei

[2012-01-03 09:03] fandrei commented on #16
new version of report, based on pre-calculated data: https://github.com/fandrei/AppMetrics/blob/master/Samples/CIAPI.CS.Excel%20-%20Latency%20report%203.xlsx

[2012-01-03 09:03] #16 closed, assigned to mrdavidlaing

[2012-01-03 11:30] mrdavidlaing opened #21 "Publish NuGet AppMetrics.Client package on each build"
See CIAPI.CS for example on how to do this.

Basically you need to register the NuGet API key on the build server, and then call nuget push at the end of the build if all tests pass.

See https://github.com/cityindex/CIAPI.CS/blob/master/tools/msbuild/DropsAndPackaging.targets.xml#L20

[2012-01-03 11:39] fandrei commented on #21
How I can register this API key on the server?

[2012-01-03 12:18] mrdavidlaing commented on #21
http://bit.ly/sCzZGV

On 3 January 2012 11:39, fandrei <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-01-03 12:34] fandrei commented on #21
It's clear, but how I can execute this command on this server? ;)

[2012-01-04 05:36] fandrei commented on #21
Permanently storing API key didn't work for some reason, so I pass it to build task at every build (using MaskPassword add-in to prevent showing in job output).

[2012-01-04 05:36] #21 closed, assigned to fandrei

[2012-01-04 09:34] mrdavidlaing commented on #21
That is probably a better solution, since we can now build on any build
agent

On 4 January 2012 05:36, fandrei <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-01-09 11:09] mrdavidlaing commented on #9
metrics.labs.cityindex.com domain is now setup
*.metrics.labs.cityindex.com -> metrics.labs.cityindex.com

[code]

IIS ARR load balancing is setup to round robin between current & next

[2012-01-09 11:10] mrdavidlaing commented on #9
Currently only one of these 2 is requesting authentication

[2012-01-12 08:01] fandrei opened #22 "Continuous integration scripts"
It's necessary to create continuous integration scripts, performing the following tasks:
1. build
2. deploy to a temporary location (application name + build number)
3. test temporary installation functionality
4. make entry point website (next.metrics.labs.cityindex.com) to point to the latest build
5. test entry point site functionality

[2012-01-17 06:21] fandrei commented on #9
It should work correctly now

[2012-01-17 06:22] fandrei commented on #22
done

[2012-01-17 06:22] #22 closed, assigned to fandrei

[2012-01-17 06:23] fandrei opened #23 "Create price streaming jitter report"

[2012-01-17 06:24] fandrei commented on #23
Currently report is located here: https://github.com/fandrei/AppMetrics/blob/master/Reports/CIAPI.CS.Excel%20-%20Latency%20report.xlsx

[2012-01-17 06:27] fandrei opened #24 "Add capability to build latency and jitter reports in realtime"

[2012-01-17 06:31] fandrei opened #25 "Import AppMetrics reports into Solarwinds Performance Monitor"
Suggested by David: export current latency data as performance counters, so Solarwinds Application Performance Monitor can import these data.
http://www.solarwinds.com/products/orion/application_monitor/application-performance-monitoring.aspx

[2012-01-25 10:14] #23 closed, assigned to fandrei

[2012-01-26 05:18] fandrei opened #26 "Create a suite of automatic tests for AppMetrics"

[2012-02-11 12:00] #26 closed, assigned to fandrei

[2012-02-15 10:18] fandrei commented on #25
Import is done using PowerShell script that calls analytics website and downloads report data
Solarwinds monitor template is located under Solarwinds folder in the source code repo

[2012-02-15 10:18] #25 closed, assigned to fandrei

[2012-02-15 10:19] fandrei opened #27 "Add capability to filter analytics website report using URL parameters"

[2012-02-15 10:20] fandrei commented on #27
Done. URL syntax is like this:

all countries and world overall (default period)
http://analytics.metrics.labs.cityindex.com/GetReport.ashx?Application=CIAPI.CS.Excel

world overall only
http://analytics.metrics.labs.cityindex.com/GetReport.ashx?Application=CIAPI.CS.Excel&Locations=(World)

world overall only, period 1 day
http://analytics.metrics.labs.cityindex.com/GetReport.ashx?Application=CIAP

[2012-02-15 10:20] #27 closed, assigned to fandrei

[2012-02-15 10:25] fandrei opened #28 "Implement vectorized message sending"
In the current version, AppMetrics client sends single message per HTTP request. This works slowly and creates lag from message generation to the moment of delivery. It's necessary to send multiple messages per HTTP request.

[2012-02-15 10:25] fandrei commented on #28
done

[2012-02-15 10:25] #28 closed, assigned to fandrei

[2012-02-16 19:36] #9 closed, assigned to mrdavidlaing

[2012-02-16 19:47] mrdavidlaing opened #29 "Occasional lack of data for /GetReport.ashx?Application=CIAPI.CS.Excel&Locations=United%20Kingdom&Period=0:1:0"
http://analytics.metrics.labs.cityindex.com/GetReport.ashx?Application=CIAPI.CS.Excel&Locations=United%20Kingdom&Period=0:1:0

Produces:

[code]

I have seen it succeed, but of course now I can't get an example of that.

Increasing the period seems to always work: - http://analytics.metrics.labs.cityindex.com/GetReport.ashx?Application=CIAPI.CS.Excel&Locations=United%20Kingdom&Period=1:0:0

I have

[2012-02-21 10:35] fandrei commented on #29
I can confirm this problem; there are periods when data is not transferred to the server for some unknown reason. This needs more investigation.

[2012-02-21 10:35] fandrei opened #30 "Realtime report builder needs optimization"

[2012-02-22 10:57] mrdavidlaing opened #31 "Latency collector reference implementation"
Separate application that instruments a small subset of RPC calls at a 1 minute interval.
- Logon
- List markets
- Logout

Should be installed as a windows service.

Must be autoupdatable.

Needs to serve as a reference application for other latency data collector implementations to copy.

[2012-02-23 06:25] fandrei commented on #30
I used dichotomy method to read data from log files, it works much faster now. In addition, I've create a log of analytic requests to have precise data how much time every request taken (log file is under App_Data folder of analytics site)

[2012-02-23 06:25] #30 closed, assigned to fandrei

[2012-02-23 12:47] mrdavidlaing commented on #29
Lets delay investigating this until we're collecting data using the specialist app rather than Excel.

The specialist collection app needs to log when it has been unable to send data.

[2012-02-23 12:57] mrdavidlaing opened #32 "Report on the experience for the 98th percentile"
To better match existing internal reports, we need to report for the 98th percentile.

So, we need the average latency for the 98% percentile.

It would also be useful to know the number of measurements recorded below and above this averages

I'm looking to be able to create a report showing:

(a) What the average latency is for 98% of sessions
(b) How many sessions are worse than this?

[2012-02-27 05:46] fandrei commented on #31
What credentials it should use? Demo account will require periodic renewal.

[2012-02-27 17:55] mrdavidlaing commented on #31
XX870869 / password.

This is a test account tied to the Latency Test account operator.

It shouldn't expire.

On 27 February 2012 05:46, fandrei <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-03-06 05:16] fandrei opened #33 "Problem with metrics.labs.cityindex.com load balancer"
Load balancer for split testing works ok now, it redirects all requests to either current.metrics.labs.cityindex.com or next.metrics.labs.cityindex.com
However, redirected requests lose original client IP information and show server's IP for all requests instead.

[2012-03-08 16:50] mrdavidlaing opened #34 "Export raw data to Amazon S3"
I'd like to backup the raw data logs to Amazon S3; since this provides both redundant backup & a good integration point for getting data into Elastic Map Reduce.

[2012-03-14 12:41] mrdavidlaing opened #35 "Include appropriate license agreement on install"
All open source  CityIndex software should be licensed under the Apache license.

Evaluate if this is appropriate for the collector; or if use of the software should actually be under another license.

[2012-03-14 13:09] mrdavidlaing opened #36 "Install CIAPILatencyCollector in all Amazon Datacenters"
EU-west (Ireland)  -> 46.137.187.155
US-west (Oregon) -> 50.112.111.248
US-east(Virginia) -> 23.21.131.181
US-west(North California) -> 184.169.142.250
AP-south(Singapore) -> 175.41.134.210
AP-North(Tokyo) -> 54.248.116.221
S-America (Sao Paulo) -> 177.71.182.250

[2012-03-14 13:44] #31 closed, assigned to fandrei

[2012-03-14 13:45] fandrei commented on #31
source code: https://github.com/fandrei/CiapiLatencyCollector
Jenkins build: http://ci.labs.cityindex.com:8080/job/CiapiLatencyCollector/

[2012-03-14 14:38] fandrei commented on #35
Don't see any reason to not use Apache license

[2012-03-14 14:38] #35 closed, assigned to mrdavidlaing

[2012-03-15 06:38] fandrei opened #37 "installer - remove previous version, when installing new one"

[2012-03-15 06:39] fandrei opened #38 "make possible to change auto-update URL without reinstalling"

[2012-03-15 07:00] #37 closed, assigned to fandrei

[2012-03-15 07:00] #38 closed, assigned to fandrei

[2012-03-15 09:12] fandrei commented on #34
Should it copy data to Amazon S3 when session is finished, or when every new piece of data arrives?

[2012-03-15 11:07] fandrei commented on #33
It seems this happens when redirection goes from one website to another (i.e. from current.metrics.labs.cityindex.com to the real logger web site). I guess because technically it really makes requests from one site from another. It seems there is no way to avoid this problem, if we use site redirection for load balancing.

PS probably we should just install sites to current/next locations, rather

[2012-03-15 13:02] mrdavidlaing opened #39 "Evaluate having Chinese based ODeskers run CIAPILatencyCollector"
(1) Find out how many Chinese ODeskers would / could run the CIAPILatencyCollector
(2) Find out how much it would cost us on a monthly basis

[2012-03-15 13:32] fandrei commented on #33
UPD the same problem with load balancer itself; when I install logger directly to next.metrics.labs.cityindex.com then IP logging works ok. But when I use metrics.labs.cityindex.com address, IP is replaced with server's IP

[2012-03-19 12:03] fandrei commented on #32
By which parameter select these 98% sessions? Per-session average value?
And how to calculate, if count of sessions is small (< 50)?

[2012-03-19 12:24] #24 closed, assigned to fandrei

[2012-03-19 12:25] fandrei commented on #24
Additional query parameter Type, can be one of these values: LatencySummaries, LatencyDistribution, JitterDistribution

[2012-03-19 15:03] mrdavidlaing opened #40 "CIAPILatencyCollector service GUI"
Need a GUI to edit the CIAPILatencyCollector settings, and see what it is currently doing / reporting.

A historic view of events (a log) would be very useful

[2012-03-19 15:05] mrdavidlaing commented on #40
A usecase - the CIAPILatencyCollector on my CityIndex work PC keeps dying.

I need a way to debug why - currently the only way I notice is that the reports for the UK - http://analytics.metrics.labs.cityindex.com/GetReport.ashx?Application=CIAPILatencyCollector&Locations=United%20Kingdom&Period=0:1:0 seems to have a lot of gaps, until I restart the CIAPI Latency Collector service

[2012-03-19 21:43] mrdavidlaing commented on #32
Its the same way you select Upper / Lower quartile - which would also be
called 75 / 25 percentile.

On 19 March 2012 12:03, fandrei <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-03-20 07:39] fandrei commented on #32
It's not the same, because quartiles are calculated on single measurements level, rather than sessions. Just need to understand how these internal reports work to match them.

[2012-03-20 08:36] #36 closed, assigned to fandrei

[2012-03-20 08:51] fandrei commented on #32
I've made simple implementation working on the level of single measurements. View it using this:

http://analytics.metrics.labs.cityindex.com/GetReport.ashx?Application=CiapiLatencyCollector&Period=1.0:0:0&Type=AveragePercentile98

[2012-03-20 10:03] fandrei opened #41 "Compress finished sessions data"

[2012-03-20 15:44] mrdavidlaing commented on #41
What is the reason for this?

If it is to save space then we should rather consider just archiving to s3

On Tuesday, March 20, 2012, fandrei <
reply@reply.github.com>
wrote:

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-03-20 15:45] mrdavidlaing commented on #32
Could you point me to the unit tests for this calculation so I make sure
I'm understanding exactly what it does.

On Tuesday, March 20, 2012, fandrei <
reply@reply.github.com>
wrote:

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-03-21 07:20] fandrei commented on #41
Yes, idea was to save space. But if we archive old sessions to S3, it's better to compress them anyway, to save money :)

[2012-03-21 07:29] fandrei opened #42 "Add exceptions data to latency and jitter reports"
It's necessary to show exceptions count in period of report

[2012-03-21 08:59] fandrei commented on #32
I hope this one can explain the idea
https://github.com/fandrei/AppMetrics/blob/e60398312f4545774de1dfb855f0aac86864eb21/Tests.Analytics/UnitTesting.cs#L68

[2012-03-22 07:40] fandrei commented on #34
Do we have an account on Amazon for debugging?

[2012-03-22 07:46] fandrei opened #43 "Create an AppMetrics description website on City Index Labs"

[2012-03-22 08:55] mrdavidlaing commented on #34
I can set one up for you.  What access to you need?

On Thursday, March 22, 2012, fandrei <
reply@reply.github.com>
wrote:

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-03-22 08:59] fandrei commented on #34
I guess Amazon AWS account with S3 enabled is enough.

[2012-03-22 09:17] mrdavidlaing commented on #41
You are right.  So compress away!

On Wednesday, March 21, 2012, fandrei <
reply@reply.github.com>
wrote:

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-03-22 09:18] mrdavidlaing commented on #34
I'll get to it tomorrow.

On Thursday, March 22, 2012, fandrei <
reply@reply.github.com>
wrote:

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-03-23 11:21] fandrei commented on #39
I think we should decide about API key before starting this.
As far as I understand, it should be secret, i.e. we can’t include it into public source code?

[2012-03-23 16:36] mrdavidlaing commented on #39
At the end of the day its never going to be possible to totally secure the
AppKey from a determined hacker, so lets just pick one, and compile it in
during the build process.

If someone decompiles the app & grabs it, or watches the API traffic to get
it, then so be it.  I'm monitoring for API call patterns that don't match
the norm for a specific AppKey, at which stage we'll issue a new app key
a

[2012-03-23 17:30] mrdavidlaing opened #44 "Deploy via mono on Linux nodes in all AWS datacenters"
The clocks on Windows EC2 nodes are suspect, whereas the clocks on Linux (Ubuntu 11.10) nodes are much more accurate.

We need a version of the CIAPILatencyCollector that runs under Mono, as a service on Ubuntu 11.10

[2012-03-23 17:31] mrdavidlaing opened #45 "Add streaming latency & jitter collectors to CIAPILatencyCollector"
To feed data into the relevant reports.

[2012-03-23 17:36] mrdavidlaing opened #46 "Create latency collector "spec" & reference implementation"
The FlexITP & Mobile teams have agreed to also provide latency measurement data for us from the actual applications clients are using.

We need to give them a simple latency collector "spec" and C# reference implementation that shows exactly how to calculate the data, and post it back to metrics.labs.cityindex.com

[2012-03-23 17:58] mrdavidlaing opened #47 "Create HeartBeatPrice publisher service"

[2012-03-23 17:58] mrdavidlaing opened #48 "Configure Ubuntu collector nodes via CHEF"

[2012-03-26 05:59] fandrei commented on #47
Need more elaborate description of this task

[2012-03-26 06:30] fandrei opened #49 "Measure latency of a static webpage"
It can be useful to measure latency of a static webpage as reference point, so we can see if latency peaks are caused by internet rather than our server conditions

[2012-03-27 06:26] fandrei opened #50 "Use time zone neutral time everywhere"
This is necessary to avoid problems because of daylight saving time change

[2012-03-28 13:31] #34 closed, assigned to fandrei

[2012-03-28 13:31] #41 closed, assigned to fandrei

[2012-03-29 07:39] fandrei opened #51 "Add API key to the latency collector"
At this moment, this will be an arbitrary key set during the build process

[2012-03-29 11:23] #51 closed, assigned to nobody

[2012-03-29 11:31] fandrei opened #52 "Report AppMetrics and calling assembly version"

[2012-03-29 11:33] fandrei opened #53 "Report internal AppMetrics exceptions and metrics"

[2012-03-29 11:36] fandrei commented on #44
It's not that simple, as system service (and possibly auto-update) code won't work on Linux.
As alternative, we can call NTP protocol directly to get precise time in our program.

[2012-03-29 12:05] fandrei commented on #40
It already has event log - you can see it in the system Event Viewer (Windows Logs/Application). Exceptions in the system service should be reported there.
GUI settings are available too - see "C:\ProgramData\City Index\CIAPI Latency Collector\bin\CiapiLatencyCollectorConfig.exe"

[2012-03-29 12:06] fandrei commented on #39
Ok, API key is embedded
https://github.com/fandrei/AppMetrics/issues/51

[2012-03-29 12:22] mrdavidlaing commented on #32
I think we have a miscommunication as to the meaning of percentile, and what I meant by the 98th percentile latency.  (I shouldn't have said average)

I've added some sample calculations done in R in commit 06e100ec19180623a0584f8897d0e2425e24dfe0 - which as you can see give different values.

I think we should switch to using [R.NET](http://rdotnet.codeplex.com/) for the analytics rather than was

[2012-03-29 13:00] fandrei commented on #32
Well, to make things more complicated - there are different ways of calculating percentiles, giving different results.

Switching to R.NET certainly will remove need of debugging our statistical code, but it can add even more debugging of R.NET itself :)
(including deployment, initialization, etc)

[2012-03-30 10:03] mrdavidlaing commented on #32
Let's

(a) Use R's definition of percentile, so we can check results against R
(b) Drop my silly request for "average of 98th percentile", we just want the boundary value below which 98% of values lie.
(c) Hold off on the use of R.NET for percentile calculation, but reconsider if we start doing more calculations.

[2012-04-02 09:08] fandrei commented on #46
Created a sample:
https://github.com/fandrei/AppMetrics/tree/master/samples/ReportingToAppMetrics

[2012-04-02 09:08] #46 closed, assigned to fandrei

[2012-04-02 09:50] #50 closed, assigned to fandrei

[2012-04-02 11:20] fandrei commented on #39
For the beginning and as a less-hassle variant, we can use Windows Azure - they have application hosting in Hong Kong.

[2012-04-03 06:20] fandrei commented on #32
Ok. Maybe it's better to add it to the same report where we have quartiles and median?

[2012-04-03 12:01] fandrei commented on #32
done... you can view it here:
http://analytics.metrics.labs.cityindex.com/GetReport.ashx?Application=CiapiLatencyCollector&Type=Percentile98

[2012-04-03 14:47] mrdavidlaing commented on #32
Agreed - lets drop the Percentile98 report and just include the 98th percentile in the existing report along with the 75% percentile (upper quartile).  For completeness lets also add the 2nd percentile.

In all, the report would include:

Count, Average, Min, 2  25 (Lower quartile), 50 (median), 75 (upper quartile), 98, Max

With these we can get a feel for:
1.  The average
2.  The spread or varia

[2012-04-03 15:49] mrdavidlaing commented on #40
Ok; lets expand these tools when we discover exactly what additional debugging data is required

[2012-04-03 15:49] #40 closed, assigned to mrdavidlaing

[2012-04-03 15:51] mrdavidlaing commented on #39
Azure is going to suffer from the same issues as Amazon EC2 - we'll be using machines with datacenter grade internet connectivity.

What we want is data from office or home grade connections.

[2012-04-04 06:36] fandrei commented on #32
ok, I've added percentiles and exceptions count to the stat summary report. but you need to update Solarwinds script to retrieve data from right columns
now this report returns the following columns:
Country City    Location    FunctionName    Count   ExceptionsCount Average Min Percentile2 LowerQuartile   Median  UpperQuartile   Percentile98    Max

[2012-04-04 06:36] #32 closed, assigned to fandrei

[2012-04-04 06:36] #42 closed, assigned to fandrei

[2012-04-04 06:37] fandrei commented on #32
PS added exceptions count too

[2012-04-04 06:47] fandrei opened #54 "Evaluate possibility of direct usage of NTP to get precise time"

[2012-04-04 09:07] mrdavidlaing opened #55 "Prevent analytics getting indexed by Google"
Some of the analytics reports have crept into the google index - see the following search:

[code]

which returns 2 results on 4 April 2012:

[code]

We need the appropriate robots.txt to prevent any indexing happening

[2012-04-04 09:15] ryanholder commented on #55
Took the following from a site on robots.txt

Web site owners use the /robots.txt file to give instructions about their site to web robots; this is called The Robots Exclusion Protocol.

It works likes this: a robot wants to vists a Web site URL, say http://www.example.com/welcome.html. Before it does so, it firsts checks for http://www.example.com/robots.txt, and finds:

[code]

The "User-agent:

[2012-04-04 09:36] fandrei commented on #49
should use this address:
https://ciapi.cityindex.com/

[2012-04-04 09:42] fandrei opened #56 "don't issue CIAPI requests if internet connection is not available (CIAPILatencyCollector)"
Probably it's better to check if internet connection is available, and only after perform CIAPI polling (to avoid flooding with "not connected" or "timeout" exception messages, if user's system is disconnected from internet for some time)

[2012-04-04 09:50] fandrei opened #57 "add operations log to the S3 archiver"
and store this log to S3 too

[2012-04-05 06:29] #55 closed, assigned to nobody

[2012-04-05 11:24] fandrei commented on #45
What market prices it needs to stream?

[2012-04-06 10:56] fandrei commented on #54
Ok, it seems we can achieve precision ~0.1 seconds if using SNTP to request servers from pool.ntp.org directly. Probably it's possible to make it more precise by using full NTP algorithms.
(for comparison, on my PC windows time sync has error at least +-1 second according to my experiments)

[2012-04-10 13:12] mrdavidlaing commented on #47
This is a task for me; need to get an internal City Index service deployed that publishes a predicatable price stream

[2012-04-10 13:16] mrdavidlaing commented on #45
Lets start with

[code]

For account XX870869

We'll add the metronome price as soon as I get the HeartbeatPriceService delivered (looking like it will take 6 weeks)

[2012-04-10 14:02] mrdavidlaing opened #58 "Generate report on estimated accuracy of node clocks"
Figure out how to measure the accuracy; probably through the use of a third party program

At a later stage we can focus on improving this accuracy.

[2012-04-11 02:09] mrdavidlaing commented on #58
Meinberg's NTP service & monitor tools - http://www.meinberg.de/english/sw/ntp.htm - look quite comprehensive

[2012-04-11 10:49] mrdavidlaing commented on #58
Here is another tool that is useful for visualising the NTP stats - loopstats & peerstats - http://satsignal.eu/software/net.htm#NTPplotter

[2012-04-11 11:07] mrdavidlaing commented on #58
Seems that Amazon run some NTP servers -

[code]

No idea where these are located, or if they resolve to different machines depending on datacenter

[2012-04-11 13:54] fandrei commented on #54
As alternative, we can bundle windows port of ntpd into latency collector application; this way we should be able to achieve clock accuracy of ~0.01 seconds

[2012-04-11 14:18] fandrei commented on #58
pool.ntp.org resolves to the nearest NTP server, and it seems it includes these servers too.
What about idea to include windows port of ntpd into the latency collector?

[2012-04-12 16:33] mrdavidlaing commented on #58
If that is possible, then I think including windows port of ntpd in latency collector is excellent idea

[2012-04-12 16:34] mrdavidlaing commented on #58
Looks like after a few days of running windows port of NTPd, a m1.small Windows 2008 machine in US-East can have time accuracy of +- 5ms, which is good enough for our measurement purposes.

<img src="http://dl.dropbox.com/u/33609233/CIAPI/NTP-plotter-AmazonEC2%20machine%20-%2012%20Apr%202012%2017.30.09.png"/>

[2012-04-12 17:06] mrdavidlaing commented on #58
As a comparison, here is a graph of the ntpd stats for labs.cityindex.com, an Ubuntu 11.10 machine running on a t1.micro instance in EU-West.  This seems to have an accuracy of +- 1 ms

<img src="http://dl.dropbox.com/u/33609233/CIAPI/NTPplotter%20-%20AmazonEC2%20linux%20machine%20-%20%2012%20Apr%202012%2018.03.41.png"/>

[2012-04-13 07:05] fandrei opened #59 "Create a report to show exceptions in period of time"
Need to include the following information:

list of unique exceptions
count of appearance in this period

[2012-04-14 23:50] mrdavidlaing opened #60 "CIAPILatencyCollector service terminates on unhandled exception"
My London PC stopped collecting data on Saterday, and only started again after I had manually started the service again.

The Event log showed the following:

A single exception shouldn't stop the service working.

---

Application: CiapiLatencyCollector.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.Collections.Gener

[2012-04-17 12:13] mrdavidlaing commented on #58
As long as we're running an NTP service on the windows EC2 machine (eg: http://www.meinberg.de/english/sw/ntp.htm#ntp_nt_stable) then the clock accuracy seems to be within 5ms.  This is good enough for our measurements.

[2012-04-17 12:13] #58 closed, assigned to nobody

[2012-04-17 12:13] mrdavidlaing commented on #48
As long as we're running an NTP service on the windows EC2 machine (eg: http://www.meinberg.de/english/sw/ntp.htm#ntp_nt_stable) then the clock accuracy seems to be within 5ms.  This is good enough for our measurements, so we don't need Ubuntu collector nodes

[2012-04-17 12:13] #48 closed, assigned to mrdavidlaing

[2012-04-17 12:14] mrdavidlaing commented on #44
As long as we're running an NTP service on the windows EC2 machine (eg: http://www.meinberg.de/english/sw/ntp.htm#ntp_nt_stable) then the clock accuracy seems to be within 5ms.  This is good enough for our measurements, so we don't need Linux nodes

[2012-04-17 12:14] #44 closed, assigned to fandrei

[2012-04-17 12:17] mrdavidlaing commented on #54
We should just install a windows NTP service like http://www.meinberg.de/english/sw/ntp.htm#ntp_nt_stable on those machines whoes clocks we don't trust.

We probably can't bundle it with the CIAPILatencyCollector installer, because some of our collection nodes (those on the CityIndex domain for example), cannot use a non domain time source.

It would be useful for the CIAPILatencyCollector to be a

[2012-04-17 12:18] mrdavidlaing commented on #39
Recruiting via ODesk hasn't worked, so lets bin that idea.

I've started emailing other City Index contacts asking them to run the CIAPILatencyCollector agent on their machines in the remote City Index offices.

[2012-04-17 12:18] #39 closed, assigned to nobody

[2012-04-17 12:19] mrdavidlaing commented on #47
This is not going to happen for at least another 6 weeks.  For now, lets just measure using the GBP/USD price feed.

[2012-04-18 04:57] fandrei commented on #54
I think we shouldn't trust windows time service at all.
It's possible to embed ntpd into the latency collector and use it's time internally only, so it won't affect machine clock.

[2012-04-18 13:28] fandrei opened #61 "Add capability to log data to AppMetrics using JSON format"

[2012-04-19 10:35] fandrei opened #62 "Add report to show list of unique data collector nodes"

[2012-04-19 10:46] fandrei commented on #62
PS with list of sessions associated with each collector (optionally)

[2012-04-20 10:31] #45 closed, assigned to fandrei

[2012-04-20 11:03] fandrei commented on #54
It seems we have the following options here:
1. Just install windows port of ntpd on every client node (what requires lots of additional manual steps for installation)
2. Embed ntpdate tool into the latency collector program and use it to periodically query time offset value (without setting system clock)
3. Embed ntpd and run it to make time adjustments continuously, what gives us more precise ti

[2012-04-20 19:55] mrdavidlaing commented on #54
I'm for 1.  We can automate server setup

[2012-04-21 04:31] fandrei commented on #54
Some additional observations:

ntpdate (option 2) doesn't work very well, it gives spread at least +-0.2 seconds when running several times

some machines have port 123 blocked by firewall and can't use NTP protocol

windows time service (w32time) gives big error, at least +-0.8 seconds even when connected to a domain time source

I've made a custom time sync code on base of improved SNTP protocol

[2012-04-21 08:13] fandrei commented on #54
PS we can try to use internal NTP time source to deal with blocked NTP ports

[2012-04-21 10:01] fandrei commented on #54
PPS as alternative, I've made experiments with time synchronization over HTTP and it seems it's possible to achieve precision ~0.05 seconds this way, when syncing my PC with AppMetrics server in US

[2012-04-21 10:48] fandrei commented on #60
It happened due to unhandled exception in CIAPI.CS background thread. I installed unhandled exceptions trap to prevent such problems in future. However, it's necessary to fix this problem in CIAPI.CS
https://github.com/cityindex/CIAPI.CS/issues/148

[2012-04-21 10:48] #60 closed, assigned to nobody

[2012-04-23 08:51] #59 closed, assigned to fandrei

[2012-04-23 08:56] fandrei commented on #59
Report is available here:
http://analytics.metrics.labs.cityindex.com/GetReport.ashx?Application=CiapiLatencyCollector&Type=Exceptions&Period=1.0:0:0
(exceptions for last 1 day)

[2012-04-23 11:46] mrdavidlaing commented on #54
Given the following design goals:

(1) We only want to process price latency measurements where we can be sure of clock precision that is better than 10ms (0.01s)
(2) CIAPILatencyCollector should NOT set the system clock
(3) CIAPILatencyCollector should report the current systems clock error when reporting latency numbers, so we can discard metrics where the error level is too high

It looks like

[2012-04-24 10:43] mrdavidlaing commented on #33
Have decided not to fix; but rather to remove the use of a load balancer in the architecture.

[2012-04-24 10:43] #33 closed, assigned to mrdavidlaing

[2012-04-24 10:44] mrdavidlaing opened #63 "Remove metrics.labs.cityindex.com load balancer"
Following on from decision to not fix #33

[2012-04-24 10:51] mrdavidlaing opened #64 "Polish documentation"
Specifically:
- input formats
- ouput reports & formats
- how to get raw data

[2012-04-24 11:05] mrdavidlaing commented on #64
Eg http://analytics.metrics.labs.cityindex.com/GetReport.ashx?Application=CiapiLatencyCollector&Type=JitterDistribution

[code]

for example,
Singapore (All) Singapore/(All)  0.2 37
[24/04/2012 11:53:48] David Laing: there were 37 prices recieved in this period
[24/04/2012 11:54:07] David Laing: and the max difference was 0.2s?
[24/04/2012 11:54:27] Andrei Faber: this means jitter of 0.2 seconds h

[2012-04-24 11:26] mrdavidlaing commented on #64
And http://analytics.metrics.labs.cityindex.com/GetReport.ashx?Application=CiapiLatencyCollector&Type=Exceptions&Period=0.1:0:0

[2012-04-24 13:55] mrdavidlaing opened #65 "Split Solarwinds USA region"
Currently the solarwinds reports aggregate all US traffic into one; but looking at the traffic distribution on the marketing websites, we should be reporting this by datacenter region (i.e, so we can compare US west coast to US east coast)

<img src="http://dl.dropbox.com/u/33609233/AppMetrics/distribution_of_US_traffic.png"/>

[2012-04-24 21:56] mrdavidlaing opened #66 "Silent installer"
The chef automation recipes need to install the CIAPI Latency Collector service from the command line.

See [cookbooks/windows_ciapilatencycollector/recipes/default.rb#L24](https://github.com/cityindex/cookbooks/blob/91bd43bdc2fa8bc4a5a144e87b1c63f2ed80325b/cookbooks/windows_ciapilatencycollector/recipes/default.rb#L24)

we either need to be able to:
- pass the required options on the command line

[2012-04-26 06:24] fandrei opened #67 "Refactoring - overload Tracker.Log to accept different types"

[2012-05-01 08:35] fandrei opened #68 "Should we keep OData export service?"
It was used to import data into PowerPivot but didn't show itself as very useful, because it can work only with small amounts of data.

[2012-05-02 09:32] fandrei commented on #66
Is it possible for Chef to run installed exe after installation?

[2012-05-03 09:39] fandrei commented on #66
Syntax for quiet installation:

msiexec /i CiapiLatencyCollector.msi /quiet
"C:\Program Files (x86)\City Index\CIAPI Latency Collector\CiapiLatencyCollectorConfig.exe"  -username:SomeUserName -password:SomePassword

[2012-05-03 09:46] fandrei commented on #54
It seems w32time log is completely useless due to it's inaccuracy.
I added code to check ntpd stats, it works in this way: read loopstats files of last 2 days and report last, min (negative) and max offsets to the server.
When building reports the server checks, if abs value of offset was bigger than 0.01 seconds. If all offsets are smaller, then time is stable enough and we can use streaming late

[2012-05-03 09:48] #54 closed, assigned to fandrei

[2012-05-03 10:59] mrdavidlaing commented on #68
In the interests of simplicity, lets remove it.

Excel seems pretty good at importing the default tabbed delimited format we
expose for Solarwinds, so that will do instead of OData

On 1 May 2012 09:35, fandrei <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-05-03 11:46] mrdavidlaing commented on #66
Running

[code]

still pops up a modal dialog, which kills the chef run.

Please can you amend this so that it can be run without any user intervention (ie, without a modal dialog poping up)

[2012-05-03 11:56] fandrei commented on #66
it shouldn't popup dialog, plz check that you are using the latest version

[2012-05-03 11:56] mrdavidlaing opened #69 "Running same installer twice breaks installation"
On a clean machine, running the silent installer works:

[code]

However, if you run the same installer again on the machine (i.e, in another chef run)

[code]

You see two CIAPILatencyCollector processes for a short time, then both are killed & the CIAPI Latency Collector service disappears from the Services panel.

The only way to get it back is to manually uninstall via Add/Remove programs, and

[2012-05-03 13:39] mrdavidlaing commented on #54
The installation of Mienberg NTPd disables W32Tm (specifically the Windows
Time Service)

Is that what you mean?

On 3 May 2012 10:46, fandrei <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-05-03 13:46] fandrei commented on #54
It seems it doesn't, because the most of our amazon instances had windows time sync on (I turned it off manually)

[2012-05-03 14:02] mrdavidlaing commented on #66
All good since v1.0.70.

On 3 May 2012 12:56, fandrei <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-05-04 05:02] #66 closed, assigned to nobody

[2012-05-04 11:27] #63 closed, assigned to fandrei

[2012-05-07 03:59] fandrei commented on #68
UPD Currently it's used by integration tests; if we need to remove OData service, it's necessary to create a replacement raw data access interface.

[2012-05-07 07:00] #69 closed, assigned to fandrei

[2012-05-07 08:23] #67 closed, assigned to fandrei

[2012-05-08 05:03] fandrei commented on #64
Where we should put this piece of documentation?

[2012-05-08 05:03] fandrei commented on #65
To achieve this, I need to add capability to split reports by location more precisely (i.e. by country, region and city). Unfortunately GeoIP has invalid location data for our american servers, thus overriding data is required.
In other words this is a new feature rather than refactoring.

[2012-05-08 07:34] fandrei opened #70 "Fix duplicate messages storing problem"
Sometimes the same messages are stored into logs several times (this can happen when server finished storing of data packet successfully, but response to the client was lost in transmission; thus, client retries transmission again)
It's necessary to prevent such possibility.

[2012-05-09 09:02] fandrei commented on #65
I've added extended capabilities for report slicing:

http://analytics.metrics.labs.cityindex.com/GetReport.ashx?Application=CiapiLatencyCollector&Type=LatencySummaries&SliceByLocation=CountriesAndCities
(report sliced by precise location)

http://analytics.metrics.labs.cityindex.com/GetReport.ashx?Application=CiapiLatencyCollector&Type=LatencySummaries&Type=LatencySummaries&SliceByLocation=Countr

[2012-05-10 14:43] mrdavidlaing commented on #68
Your call

On 7 May 2012 04:59, fandrei <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-05-10 14:44] mrdavidlaing commented on #64
In the Github wiki

On 8 May 2012 06:03, fandrei <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-05-15 09:49] #65 closed, assigned to mrdavidlaing

[2012-05-15 09:50] mrdavidlaing commented on #64
See https://github.com/fandrei/AppMetrics/wiki and https://github.com/fandrei/AppMetrics/wiki/Creating-reports-on-collected-data

[2012-05-15 09:50] #64 closed, assigned to mrdavidlaing

[2012-05-15 09:55] mrdavidlaing opened #71 "Metronome to trigger {Name}Monitor.Execute() based on config"
[code]

Metronome ->
1. loads up all the Monitors into an array,
2. calls the Execute of each at the frequency defined in the config file

Config:

[code]

AllServiceMonitorConfig node is an example of a serialised config DTO for the specific Monitor.  Different monitors could have different config nodes, or none at all

[2012-05-15 10:07] mrdavidlaing opened #72 "Implement DefaultPageMonitor"
To call https://ciapi.cityindex.com/, expecting 600B back

[2012-05-15 10:13] mrdavidlaing opened #73 "Implement AllServiceMonitor"
Should make a call to each of the major service urls:
1. Login
2. Client details
3. List markets
4. List news
5. Get market info
6. Get price history for single market
7. Place Buy trade on market
8. List open positions
9. List account summary
10. Close Buy trade on market
11. Logout

[2012-05-15 10:14] mrdavidlaing opened #74 "Roll out individual config to each node"
Either manually, or using Chef

[2012-05-15 10:16] mrdavidlaing opened #75 "Update Solarwinds reports"
One set of reports comparing latency across nodes

Another comparing latency across services

[2012-05-16 09:57] #68 closed, assigned to fandrei

[2012-05-16 11:40] mrdavidlaing opened #76 "Each node should use a distinct username"
The API throttles logins to 5 concurrent sessions.

We need to use a separate username / node to avoid hitting this throttle.

[2012-05-17 07:21] fandrei commented on #73
what about price streaming?

[2012-05-17 08:21] mrdavidlaing commented on #73
Let's implement this first and then decide once we know which parts of the
idea work.

  However, I was thinking that it would just become an additional monitor,
where the period is the time after which it disconnects and reconnects.

On Thursday, May 17, 2012, fandrei wrote:

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-05-18 07:31] #72 closed, assigned to fandrei

[2012-05-18 10:27] fandrei commented on #73
What you mean as "List account summary"?

[2012-05-18 10:59] mrdavidlaing commented on #73
https://ciapipreprod.cityindextest9.co.uk/ciapi.docs/#service.ListTradeHistoryis
the closest I guess

On 18 May 2012 11:27, fandrei <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-05-22 10:15] mrdavidlaing commented on #73
We need to disable the trade calls (7 & 10) for now - need to run some internal testing to ensure there are no unexpected problems with downstream reports before "going live"

[2012-05-22 10:20] fandrei commented on #73
ok, I'll make option for this.
Anyway, I need to finish monitor configs first

[2012-05-23 08:03] fandrei commented on #71
Is it really necessary to have separate user name/password for every monitor? This makes configuration process more complicated.

[2012-05-23 18:10] mrdavidlaing commented on #71
Yes, I'm afraid so.

And in some cases we might want to run the same monitor twice on the same
machine, but using different urls or username/passwords

On 23 May 2012 09:03, fandrei <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-05-26 07:23] mrdavidlaing opened #77 "Service using 100% CPU"
The ap-northeast-1, us-east-1b & us-west-1b nodes have been using 100% CPU for at least the last day.  I've RDPed to all & killed the service (stopping didn't work).  I've restarted just ap-northeast-1

This screencast shows perfmon data for ap-northeast-1: https://cityindex.viewscreencasts.com/7142d81cd0e540a798f3b7888316b31c

Node specifics are

[code]

[2012-05-28 09:32] fandrei commented on #71
ok, config looks like this:

[code]

Any ideas how to deal with passwords? I don't like idea of storing passwords in plain text. Currently password is encrypted and can be set via config tool, but having multiple plugins makes this much more complicated.

[2012-05-29 04:53] fandrei opened #78 "Set windows service options to restart automatically after failure"

[2012-05-29 05:14] #78 closed, assigned to fandrei

[2012-05-29 10:56] mrdavidlaing commented on #71
Best thing I can think of is to let the OS handle security on the file - i.e, prevent reading by any user except Admin & service user

[2012-05-29 10:57] mrdavidlaing commented on #74
Alternatively we could configure latency collectors to "phone home" to get config; which would let us change config for personal nodes not under our control easily

[2012-05-30 09:23] fandrei commented on #71
I've tried a different way: passwords are stored encrypted, but they can be set and viewed using the config tool;
it's also possible to set monitors config using command line:

CiapiLatencyCollectorConfig.exe "-monitors:<Monitors xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><LatencyMonitor xsi:type=\"DefaultPageMonitor\" /></Monitors>"

or

[2012-05-30 09:28] fandrei commented on #73
added an AllowTrading option

[2012-05-30 09:28] #73 closed, assigned to fandrei

[2012-05-31 05:46] fandrei opened #79 "Create centralized config system"
One of the config options should be a remote config, where the configuration is retrieved via an HTTP call to a central server.

It should be possible to change the config of all the running nodes by editing a set of files on a central server.

[2012-05-31 05:46] fandrei commented on #71
ok, let's move discussion on config system here https://github.com/fandrei/AppMetrics/issues/79

[2012-05-31 05:46] #71 closed, assigned to fandrei

[2012-06-02 02:09] mrdavidlaing opened #80 "Missing data in S3 archive?"
I'm trying to plot a latency scatterplot from the raw data collected on May 23rd ( when the new TradingAPI was released, and we [see the increase in measured latency](http://labs.cityindex.com/enduser-performance/2012/05/29/ciapi-latency-changes-after-release-of-webapi-based-http-services/) )

I'm pulling my data from https://s3.amazonaws.com/cityindex.appmetrics/CiapiLatencyCollector/2012-05/*.zi

[2012-06-03 23:50] mrdavidlaing commented on #79
Here is a potential design idea:

On the config server, have a HTTP directory structure (protected by HTTP auth) as follows:

[code]

where [AppSettings is in the format described](https://github.com/fandrei/AppMetrics/issues/71#issuecomment-5961909) in #71

The local AppSettings.xml for each node then becomes:

[code]

In this scenario the config is refreshed every 60 seconds from the specified U

[2012-06-04 03:16] fandrei commented on #80
Yes, it's possible.
Backup sends file to S3 when it's last update is 7 days old, and before this date all records from that file are not present in S3 storage

[2012-06-04 08:24] fandrei commented on #79
Sounds not too complicated.
What type of authentication better to use?

[2012-06-05 15:35] mrdavidlaing commented on #79
Let go for the simplest option - perhaps something built into IIS like
Basic Auth?

On 4 June 2012 09:24, fandrei <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-06-06 07:06] fandrei commented on #79
Built-in basic authentication requires credentials to match built-in windows credentials
http://msdn.microsoft.com/en-us/data/gg192997.aspx
(some additional info)
http://www.iis.net/ConfigReference/system.webServer/security/authentication/basicAuthentication
http://technet.microsoft.com/en-us/library/cc772009(v=WS.10).aspx

otherwise, it's necessary to implement custom authentication module (I can

[2012-06-06 17:46] mrdavidlaing commented on #79
Lets use the AppMetrics one

[2012-06-06 17:47] mrdavidlaing commented on #77
Any ideas?  Doesn't seem to have happened again over the last week

[2012-06-06 17:52] mrdavidlaing commented on #76
For PPE we have the following Spread Betting accounts:

[code]

[2012-06-06 17:53] mrdavidlaing commented on #74
This will be implemented via the centralised config mechanism of #79

[2012-06-06 17:53] #74 closed, assigned to mrdavidlaing

[2012-06-06 17:53] mrdavidlaing commented on #75
working on it...

[2012-06-06 18:03] mrdavidlaing commented on #80
Could we make the archiving happen daily?

On 4 June 2012 04:16, fandrei <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-06-07 04:17] fandrei commented on #77
I've made some refactoring in multi-threading code, hopefully it will address this problem. And I've added code to report CPU usage of the current process periodically for better diagnostics.

[2012-06-07 04:22] fandrei commented on #80
Sure, or even more frequently. But the problem is that file won't be sent to S3 until appropriate user session is finished, and some sessions are many days long. It's made this way because it's impossible to "append" data to S3 object, only completely rewrite it. But I can change this behavior.

[2012-06-07 04:24] fandrei commented on #79
ok, almost done. Need to finish some bugfixing and refactoring.

[2012-06-07 04:29] fandrei commented on #79
One possible issue here is about using IP address to distinguish nodes, because some nodes can have dynamic IP.
You don't mind if I use unique user ID instead? Or something else?

[2012-06-07 08:18] mrdavidlaing commented on #79
Rather than userid, use a string node name that we can assign on install of
the node.

On Thursday, June 7, 2012, fandrei wrote:

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-06-07 08:21] mrdavidlaing commented on #80
I think we should ensure that sessions recycle every few hours, to better
simulate real users.  Also, I we have sessions running of days, we're going
to start triggering the anti data theft system I'm support to be
developing...

On Thursday, June 7, 2012, fandrei wrote:

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-06-07 08:22] mrdavidlaing commented on #77
The splunk monitoring already collects all the CPU stats, remind me to show
you how to get them.

On Thursday, June 7, 2012, fandrei wrote:

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-06-07 08:23] fandrei commented on #79
You mean "AMAZONA-9TCJ5QA", etc?

[2012-06-07 08:25] fandrei commented on #80
As "session" here I mean AppMetrics session, not CIAPI

[2012-06-07 08:27] mrdavidlaing commented on #79
No,  something you set on service install that is more friendly like
"Tokyo" or "steffen's Germany machine"

On Thursday, June 7, 2012, fandrei wrote:

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-06-07 08:27] fandrei commented on #77
splunk shows only total CPU usage rather than per-process, or I'm wrong?

[2012-06-07 08:27] fandrei commented on #79
ok, easy

[2012-06-07 08:53] fandrei opened #81 "clean up old installation of AppMetrics"
(but need to update Excel Add-in first)

[2012-06-07 18:18] mrdavidlaing commented on #77
Nope - that is correct.  However, it is straight forward to log the output
of any windows command into splunk, eg:

Create a powershell script to grab the CPU metrics -
http://splunk-base.splunk.com/answers/5431/identify-which-process-is-chewing-up-cpu-on-windows

And call said script from the forwarder -
http://splunk-base.splunk.com/answers/309/powershell-scripted-input

On the metrics machine `

[2012-06-08 08:07] fandrei commented on #79
done... to make it working, it's necessary to update latency collectors config - set credentials for access to configs repository and node friendly name:
"C:\Documents and Settings\All Users\Application Data\City Index\CIAPI Latency Collector\bin\CiapiLatencyCollectorConfig.exe" -username:SomeUser -password:SomePassword -nodename:SomeHost

[2012-06-12 16:27] #76 closed, assigned to mrdavidlaing

[2012-06-13 15:40] mrdavidlaing opened #82 "Update Chef cookbook to call CiapiLatencyCollectorConfig.exe after install"
[cookbook windows_ciapilatencycollector should call the following commandline after installing the CIAPILatencyCollector msi](https://github.com/cityindex/cookbooks/blob/master/cookbooks/windows_ciapilatencycollector/recipes/default.rb#L28):

[code]

Where
- U594749 ~= U594749
- PASSWORD ~= "secret"
- NODENAME ~= AWS(Ireland)_eu-west-1b_46.137.187.155
- CONFIGURL ~= http://config.metrics.labs.city

[2012-06-14 07:48] fandrei commented on #79
([08.06.2012 19:50:07] David Laing)

and make reporting url configuration option in monitor config
eg:

[code]

[2012-06-14 07:50] fandrei commented on #79
How I should deal with exceptions in the monitor controlling framework? Make option where report these data as well?

[2012-06-14 10:50] mrdavidlaing commented on #79
I'd say write these to a local log file (in case the exception is to do with .net access)

Splunk can automatically local log files just like it does for the NTP loopstats log files

[2012-06-18 17:53] mrdavidlaing opened #83 "Create GTS_AllServiceMonitor"
Our US company FXSolutions is in the process of moving datacenters, and would like to monitor whether there is a latency change to their HTTPS API between the old and the new.  Their trading system is call GTS, so we'll call this the GTS all service monitor.

We need to create a new monitor type GTS_AllServiceMonitor that functions very similarly to our existing AllServiceMonitor for the CIAPI.

E

[2012-06-18 17:56] mrdavidlaing commented on #83
See https://github.com/fandrei/CiapiLatencyCollector/commit/af9ee959489f51e47dae3ede66b20f4fcb31b0d0 for the beginnings of the GTS_AllServiceMonitor

[2012-06-19 06:03] fandrei commented on #80
Getting raw data directly from AppMetrics server:
https://github.com/fandrei/AppMetrics/wiki/Getting-raw-data

[2012-06-19 06:03] #80 closed, assigned to fandrei

[2012-06-19 09:27] mrdavidlaing commented on #79
After discussion, we decided to log exceptions in the monitor controlling framework back to the AppMetrics server

[2012-06-19 10:09] #77 closed, assigned to fandrei

[2012-06-19 10:10] mrdavidlaing commented on #77
CPU usage has dropped in last 2 weeks.

[2012-06-19 10:13] fandrei opened #84 "Add capability to filter latency reports by function name"
It's necessary to add capability to filter latency reports by specified function name(s)

[2012-06-19 10:22] #10 closed, assigned to nobody

[2012-06-19 10:22] #11 closed, assigned to nobody

[2012-06-19 10:22] #49 closed, assigned to nobody

[2012-06-19 10:25] mrdavidlaing commented on #29
Cannot reproduce.  closing

[2012-06-19 10:25] #29 closed, assigned to fandrei

[2012-06-19 10:26] mrdavidlaing commented on #20
but this is addressed by message sending multiplexing

[2012-06-19 10:26] #20 closed, assigned to fandrei

[2012-06-19 10:29] mrdavidlaing commented on #52
Done.

[2012-06-19 10:29] #52 closed, assigned to fandrei

[2012-06-19 10:55] fandrei opened #85 "Enable response compression for data export methods"

[2012-06-19 10:56] fandrei opened #86 "Add EndTime parameter to data export functions"

[2012-06-21 05:11] #79 closed, assigned to fandrei

[2012-06-21 05:36] fandrei commented on #84
Done. New parameter is named FunctionFilter and can be used like this:
Application=CiapiLatencyCollector&Period=7.0:0:0&Type=LatencySummaries&SliceByLocation=CountriesAndCities&SliceByFunctions=yes&FunctionFilter=CIAPI

[2012-06-21 05:36] #84 closed, assigned to fandrei

[2012-06-25 05:55] #86 closed, assigned to fandrei

[2012-06-25 08:18] #56 closed, assigned to fandrei

[2012-06-26 16:40] mrdavidlaing opened #87 "Analytics reports fail if 127.0.0.1 logged as client IP"
If a test session contains the following logs:

[code]

Then trying to pull an analytics report - http://analytics.metrics.labs.cityindex.com/GetReport.ashx?Application=test&Period=7.0:0:0&Type=LatencySummaries -  fails with:

[code]

[2012-06-26 16:41] mrdavidlaing commented on #87
This kind of data happens if you submit test data from the server itself.

Its quite an edge case, so it might not be worth fixing.

[2012-06-27 06:43] fandrei opened #88 "Problem: too much files in the same folder decreases performance"

[2012-06-27 06:43] fandrei commented on #88
I've made backup tool to store zip archives hierarchically (the same structure as S3 storage)

[2012-06-27 06:43] #88 closed, assigned to fandrei

[2012-06-27 09:08] mrdavidlaing commented on #88
Can you quantify this?

(how many files => how much performance decrease?)

On 27 June 2012 07:43, fandrei <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-06-27 09:19] fandrei commented on #88
The worst problem was when the folder with files was opened in file manager. Update of any file -> refresh of files list. When it had ~1500 files, it was taking twice as much CPU.

[2012-06-27 09:36] mrdavidlaing commented on #88
Part of that performance problem will be to do with the EC2 instance size -
we're on m1.small, which has the following specs:

_Small Instance_ – default*

1.7 GB memory
1 EC2 Compute Unit (1 virtual core with 1 EC2 Compute Unit)
160 GB instance storage
32-bit or 64-bit platform
I/O Performance: Moderate
API name: m1.small

In specific, note that I/O performance is throttled.

On 27 June 2012 10:1

[2012-06-27 11:31] mrdavidlaing opened #89 "Include CIAPILatencyCollector.msi inside the central config website."
When you install the config website, you should also be installing a copy of the CIAPILatencyCollector.msi that is accessable via http://config.metrics.{your_tld}/Installs/CIAPILatencyCollector.msi

When you configure a collector node, you grab the msi from this location.

If you want to update the services on all the nodes, you just update the msi in the config site.

[2012-06-27 11:46] fandrei commented on #88
It will grow with growth of files count, anyway.
But storing archives in subfolders should be enough.

[2012-06-28 08:35] #87 closed, assigned to fandrei

[2012-06-29 06:04] #85 closed, assigned to fandrei

[2012-07-03 09:52] fandrei commented on #89
One adjustment: update package is a zip file, not msi

Should we make a Jenkins task to auto-deploy update package for the preprod monitoring system?

[2012-07-03 11:22] mrdavidlaing commented on #85
This is on the GetRecords.ashx and GetSessions.ashx calls

[2012-07-03 11:24] mrdavidlaing commented on #85
See https://github.com/fandrei/AppMetrics/blob/master/AppMetrics.WebUtils/WebUtil.cs#L47

[2012-07-03 11:31] mrdavidlaing opened #90 "Rework Backup task"
- Make [NonArchivePeriod](https://github.com/fandrei/AppMetrics/blob/master/Backup/BackupHandler.cs#L183) a config option
- Is S3 the right place?
- What period of data do we need accessible?

[2012-07-03 11:33] mrdavidlaing commented on #89
Yes - we want to keep the Jenkins autodeploy for the metrics.labs.cityindex.com environment.

But, we want the production environment deploy to be done manually, but updating the zip in the config site

[2012-07-03 11:53] fandrei opened #91 "Refactoring of the CiapiLatencyCollector"
1. Split the latency collector into parts - general purpose framework code, and CIAPI latency monitor
2. General purpose code is named AppMetricsAgent and moves to AppMetrics project
3. Add capability to deploy CIAPI latency monitor as a separate assembly in the subfolder of Agent's working directory

[2012-07-04 09:31] fandrei commented on #89
update package is stored to the folder _UpdatePackage under solution root,
and automatically deployed to http://config.metrics.labs.cityindex.com/CIAPILatencyCollector/updates/

[2012-07-04 09:31] #89 closed, assigned to fandrei

[2012-07-10 17:29] mrdavidlaing opened #93 "AllServiceMonitor - don't fail completely if single service fails"
During the PPE test today the Price history service was down.

This caused monitor of half of the other services not to be attempted. (because they are all [within the same try catch block](https://github.com/fandrei/CiapiLatencyCollector/blob/master/LatencyCollectorCore/Monitors/AllServiceMonitor.cs#L55) )

In the case of a single service failing, as the other services should still be attempted (

[2012-07-10 17:34] mrdavidlaing opened #94 "Log more detail about failing requests"
The full error message being returned from the PPE tradingAPI whilst the price history service `/market/400616150/barhistory?interval=MINUTE&span=1&pricebars=20` was broken was:

[code]

Yet the only details logged in AppMetrics were (http://metrics.labs.cityindex.com/GetRecords.ashx?Application=CIAPILatencyCollector&StartTime=2012-07-10+16%3A53%3A00&EndTime=2012-07-10+17%3A00%3A00)

[code]

The A

[2012-07-11 06:28] fandrei commented on #94
This is due to ReliableHttpException not reporting full inner exception info
https://github.com/cityindex/CIAPI.CS/issues/181

[2012-07-11 07:05] fandrei commented on #93
done. should I push it to master now?

[2012-07-11 09:54] mrdavidlaing commented on #93
yes

On 11 July 2012 08:05, Andrei Faber <
reply@reply.github.com

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-07-11 10:09] fandrei commented on #93
done

[2012-07-11 10:09] #93 closed, assigned to fandrei

[2012-07-13 11:44] fandrei opened #95 "(World) location spec is not working"
this filtering spec shouldn't give empty result:
http://analytics.metrics.labs.cityindex.com/GetReport.ashx?Application=CIAPILatencyCollector&Locations=(World)&Period=0:1:0

[2012-07-16 06:49] #95 closed, assigned to fandrei

[2012-07-18 07:09] fandrei opened #96 "require authentication to access analytics reports"

[2012-07-18 07:09] fandrei opened #97 "require access key to send data to the server"

[2012-07-18 13:29] #96 closed, assigned to fandrei

[2012-07-26 15:35] mrdavidlaing opened #98 "Make appmetrics server that CIAPILatencyCollector logs data to configurable"
Currently the [appmetrics server that data is logged to is hardcoded](https://github.com/fandrei/CiapiLatencyCollector/blob/master/LatencyCollectorCore/Program.cs#L33)

This needs to be a config option

[2012-07-30 07:43] fandrei commented on #98
This is used only when getting remote settings fails for some reason; actual initialization of tracking location is here https://github.com/fandrei/CiapiLatencyCollector/blob/master/LatencyCollectorCore/Program.cs#L114

[2012-07-30 07:43] #98 closed, assigned to fandrei

[2012-07-31 09:36] fandrei commented on #94
fixed after update to new CIAPI.CS

[2012-07-31 09:36] #94 closed, assigned to fandrei

[2012-08-02 08:31] fandrei opened #99 "set access key on project build"

[2012-08-02 08:33] fandrei commented on #99
currently done for the latency collector and bleeding edge build of Excel add-in. (stable build will be affected on next build promotion)

[2012-08-02 08:33] #99 closed, assigned to fandrei

[2012-08-02 08:36] #97 closed, assigned to fandrei

[2012-08-07 16:23] mrdavidlaing opened #100 "Browsing to http://metrics.cityindex.com/Config.aspx from server on a fresh install throws NullReferenceException"
Browsing to http://metrics.cityindex.com/Config.aspx from server on a fresh install throws following error:
## Server Error in '/' Application.

Object reference not set to an instance of an object.
Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it originated in the code.

Ex

[2012-08-07 16:32] mrdavidlaing commented on #100
A manual fix requires the following steps:
1.  Create `D:\Websites\_AppMetricsData\settings.xml`` with the following content

[code]
2.  Ensure metrics website has correct acls for new file - `icacls d:\websites /grant "IIS AppPool\metrics.{your_tld}":F /T /inheritance:e`
3.  Restart metrics website  - `%windir%\system32\inetsrv\appcmd recycle apppool "metrics.{your_tld}"`

[2012-08-07 16:38] mrdavidlaing commented on #100
Have updated [AppMetrics installation instructions -  Configure Access Keys](https://github.com/fandrei/AppMetrics/wiki/Installation-instructions) to get around this issue manually.

When it is fixed the instructions need to be fixed too.

[2012-08-08 05:05] fandrei commented on #100
Fixed. Manual workaround is not necessary

[2012-08-08 05:05] #100 closed, assigned to nobody

[2012-08-08 06:16] fandrei commented on #81
already done by David; I've updated Excel add-in to use latest AppMetrics

[2012-08-08 06:16] #81 closed, assigned to fandrei

[2012-08-08 06:17] fandrei commented on #75
I updated scripts here https://github.com/fandrei/AppMetrics/tree/master/Solarwinds

[2012-08-08 10:18] mrdavidlaing opened #101 "Quantify (and remove) latency due to client side stack"
The client side network stack is as follows:
1. LatencyMonitor  <- captured in the [Application=CiapiLatencyCollector](http://analytics.metrics.labs.cityindex.com/GetReport.ashx?Application=CiapiLatencyCollector&Type=LatencySummaries&SliceByFunctions=yes&Period=0.1%3A0%3A0) measurement
2. CIAPI.CS <- captured in the [Application=CiapiLatencyCollector.AllServiceMonitor.BuiltIn](http://analytics.met

[2012-08-08 10:24] mrdavidlaing commented on #101
See related CIAPI.CS issue https://github.com/cityindex/CIAPI.CS/issues/187

[2012-08-08 10:30] mrdavidlaing opened #102 "Break total latency into latency / components in the stack for the Trade measurement"
We have access to the following data
1.  The full C# stack CIAPI request latency measurement
2.  The default page latency measurement, which measures time for IIS's default page
3.  The server side IIS logs, which measure latency of internal systems to respond

We need to generate a report showing what portions of the full Trade latency can be attributed to each piece.

This will guide where the f

[2012-08-08 10:36] mrdavidlaing commented on #102
There are two further API "test" services that we could consider measuring: (see https://ciapipreprod.cityindextest9.co.uk/tradingapi)
1. /smoketest -> This returns a serialized DTO from the ASP.NET/WebAPI layer, without any interaction with any backend services
2. /smoketest/authenticated -> Same as /smoketest buy includes a session authentication check (single call to backend Authentication serv

[2012-08-09 11:15] mrdavidlaing opened #106 "Emergency stop button"
Overnight support start need a super simple "emergency stop" system to stop the Latency Collectors hitting the live API in the case of some kind of live emergency.

Currently we've given them a set of PowerShell scripts that will stop all the nodes tagged as isLatencyCollector=true; but this method is a little error prone.  It also won't stop none AWS nodes (once we get those running).

Ideally we

[2012-08-09 12:12] mrdavidlaing opened #107 "Add instructions on how to change default Log Event Url"
The installation instructions for CIAPILatencyCollector config site are missing a section telling you to change the default LogEvent url to your AppMetrics server in the [config default AppSettings.xml](https://github.com/fandrei/CiapiLatencyCollector/blob/master/LatencyCollectorConfigSite/CIAPILatencyCollectorConfig/AppSettings.xml#L2)

[2012-08-09 12:32] mrdavidlaing opened #108 "Changing the CIAPILatencyCollector config url via the command line doesn't seem to work"
Step ["Install the CIAPILatencyMonitor service > 3"](https://github.com/fandrei/CiapiLatencyCollector/wiki/Installation-instructions)

[code]

Seems to fail to actually change the value within C:\Program Data\City Index\CIAPILatencyCollector\AppConfig.xml

So, if you entered the invalid config url during the install process; correcting it from the command line doesn't seem to work.

This could be

[2012-08-09 13:14] fandrei commented on #108
You need to use -configserver: instead (with trailing colon)

[2012-08-10 09:36] mrdavidlaing commented on #108
DOH!

Have fixed the documentation.

At least it was an easy fix :)

[2012-08-10 09:36] #108 closed, assigned to nobody

[2012-08-10 09:39] mrdavidlaing commented on #91
Based on this, I'd like eventually remove fandrei/CIAPILatencyCollector, and just have a private cityindex/CIAPILatencyCollector repo that uses the monitor framework and has a bunch of private monitors (Miranda, GTS etc)

[2012-08-10 09:45] mrdavidlaing commented on #107
Fixed in installation documentation [section: Configure Central Config server, step: 6](https://github.com/fandrei/CiapiLatencyCollector/wiki/Installation-instructions)

[2012-08-10 09:45] #107 closed, assigned to nobody

[2012-08-10 09:53] fandrei opened #109 "Create a set of unit tests for AppMetrics Agent"
See related issue https://github.com/fandrei/AppMetrics/issues/91

[2012-08-10 09:57] mrdavidlaing opened #110 "Fix internal TFS based build"
Code released to production at City Index must exist in the internal TFS repository, and be built on an internal TFS based build system.

Need to rework the TFS build process & streamline the process of merging code from the GitHub projects back into TFS.

[2012-08-10 10:02] mrdavidlaing commented on #70
Can you quantify how often this seems to happen?  In our use case, if its like 1 in 1000 times, then its going to make no difference to the aggregate statistics

[2012-08-10 10:07] fandrei commented on #70
It's not really frequent, even less than 1 in 1000 cases. But it might break something, so we can keep this bugfix as low priority task.

[2012-08-10 10:09] mrdavidlaing commented on #57
Don't do this until we've decided how to proceed with backup in general; might not end up storing stuff to S3 at all.

[2012-08-10 10:10] mrdavidlaing commented on #90
Another alternative is to just rely on the nightly AMI creation backup job for the whole server.  Moving stuff to S3 doesn't have any advantage in terms of data safety (AMIs are stored on S3 anyway); and getting at the data on S3 is more of a hassle

[2012-08-10 10:35] mrdavidlaing opened #111 "Document setting of AccessKeys, and make required"
Need to:
1.  Document how to tell the monitors which accesskeys to use
2.  Ensure that [CIAPI.CS MetricsRecorder uses the accesskey](https://github.com/cityindex/CIAPI.CS/issues/188)
3.  Switch on "Require Access Key"

[2012-08-14 08:22] fandrei commented on #106
I've added enable/disable buttons here: config.metrics.labs.cityindex.com/Config.aspx
It works by creating a file "~/CIAPILatencyCollectorConfig/stop.txt" under config site, and when this file is present all monitors don't execute any polling.

[2012-08-14 09:29] mrdavidlaing commented on #106
Cool.  How long does stopping take?

And how can you tell if it has worked?

On Tuesday, August 14, 2012, Andrei Faber wrote:

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-08-14 10:49] fandrei commented on #106
Clients check settings every 15 seconds, so stopping time should be something around this. You can try to disable and check if current latency report shows no data.

[2012-08-14 17:06] mrdavidlaing commented on #106
http://config.metrics.labs.cityindex.com/Config.aspx gives me

[code]

Without asking for any.

[2012-08-15 03:55] fandrei commented on #106
You should call it from the server only.

[2012-08-15 07:38] fandrei opened #112 "Add StartTime and EndTime options to the report generator"

[2012-08-15 07:39] fandrei opened #113 "Return error message, if unknown report options are specified"

[2012-08-15 09:15] mrdavidlaing commented on #106
It needs to be accessibly via the web by anyone with the correct username
password.

Getting / giving the overnight support guys RDP access introduces too many
challenges with firewalls & training

On 15 August 2012 04:55, Andrei Faber notifications@github.com wrote:

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-08-15 09:30] fandrei commented on #106
done

[2012-08-15 09:30] fandrei commented on #101
I found this in Salient.ReliableHttpClient:
https://github.com/bitpusher/Salient.ReliableHttpClient/blob/master/src/Salient.ReliableHttpClient/RequestController.cs#L46
https://github.com/bitpusher/Salient.ReliableHttpClient/blob/master/src/Salient.ReliableHttpClient/RequestController.cs#L129
This code means that waiting period of 0.05 seconds is taken after sending each burst of CIAPI requests. As

[2012-08-15 11:01] mrdavidlaing commented on #106
Awesome; can confirm it works, and is pretty responsive

However, can we have a little more UI explaining:

(1) What this is
(2) How to check whether polling is working or not.

eg: http://webwhiteboard.com#mcxrc8ht
<img src="http://webwhiteboard.com/export/zcnegtagbbvh.jpg">

[2012-08-15 11:04] mrdavidlaing commented on #101
So, do we:
1.  Remove the latency in CIAPI.CS and keep measuring outside
2.  Switch measurements to data collected inside CIAPI.CS, which doesn't (?) record this delay

[2012-08-15 14:43] fandrei commented on #101
I think it's better to set delay to much smaller value (~0.001 seconds), because even if we can remove it from our reports, it still does affect experience of CIAPI.CS users.
And it's better to keep both internal and external measurements, so we can see if there are any other disrepancies.

[2012-08-16 07:15] fandrei commented on #101
I've made several tests on my PC with different waiting period:
https://github.com/fandrei/CiapiLatencyTest

0.001
CPU time used, seconds: 0.703125 total time: 98.3340983
CPU time used, seconds: 0.65625 total time: 114.9099609
CPU time used, seconds: 0.8125 total time: 99.3258835

0.05
CPU time used, seconds: 0.796875 total time: 102.7563944
CPU time used, seconds: 0.875 total time: 102.0175365
CP

[2012-08-16 08:50] mrdavidlaing commented on #101
Nice!

Then I propose that we just reduce the waiting period down to 1 ms.

Sky - can you confirm whether this makes any difference on the Win7 Phone

D

On 16 August 2012 08:15, Andrei Faber notifications@github.com wrote:

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2012-08-17 07:35] fandrei commented on #106
Done.

[2012-08-20 04:36] #106 closed, assigned to nobody

[2012-08-22 07:49] #112 closed, assigned to fandrei

[2012-08-28 14:19] mrdavidlaing opened #115 "Configure TFS2010 build"
To adhere to City Index internal development standards, the projects need to be built under TFS2010.

We need a way to import the GitHub projects into TFS (perhaps http://gittf.codeplex.com/)

The TFS builds should generate the same packages as the Jenkins build, so that packages created with TFS can be installed using the existing Installation Guides

[2012-08-28 14:22] mrdavidlaing commented on #115
I have created a TFS2010 + VS2010 server in the AWS-labs-EU-west environment named:
`TFS2010 (46.51.176.50)   i-c5e2df8d` with Elastic IP `46.51.176.50`

This m1.large machine should be left in the stopped state when not in use.  Start it via the EC2 Web console, and don't forget to reassign the correct Elastic IP.

Login credentials can be obtains from the Credentials tag

The screenshot below sh

[2012-09-03 08:38] fandrei commented on #115
I don't understand completely, how this works together. Does it pull changes from Git on every build?
The first problem I've found is that some files can't be updated during build because of  read-only attribute (probably set by TFS). Should we checkout this files before build, or just reset read-only attribute?

[2012-09-03 09:50] mrdavidlaing commented on #115
Currently we have no automated process for moving from GitHub to TFS.  To begin with, I don't think we need an automated one; just a defined manual process that we can follow should be fine for now.

Our options are:
1.  Completely manual - _looses_ Git commit history - done once / production release
   1.  `git pull` into the `C:\Dev\GitHub` locations.
   2.  TFS Checkout to the `C:\Dev\TFS` loca

[2012-09-03 16:45] mrdavidlaing opened #117 "Identify location of & fix memory leak"
All service data for CiapiLatencyCollector & CiapiLatencyCollector.AllServiceMonitor.Builtin was collected successfully in production from 2012-08-10 - 2012-08-25.

At 2012-08-25 13:57:59 the following error appears in the logs:

[code]

after which only `General.DefaultPage` measures are collected until the LatencyCollector services were restarted on 2012-09-03

It would appear that there is a me

[2012-09-03 17:07] mrdavidlaing commented on #117
[This RStudio script plots memory & CPU usage](https://github.com/fandrei/AppMetrics/blob/08d7fbc6a4ab41d7f24e6695c54c0caf4d234647/Reports/RStudio/latency_collector_resource_usage.Rmd)

<img src="https://dl.dropbox.com/u/33609233/AppMetrics/memory-leak.png" />

It seems pretty clear that we have a memory leak in the CIAPILatencyCollector service

[2012-09-03 17:09] mrdavidlaing commented on #117
@fandrei - I've put the production latency logs onto metrics.labs.cityindex.com (under {ApplicationName}.Production.
The metrics.cityindex.com error log didn't contain anything useful.

Is there anything else you need to help debug this issue?

[2012-09-04 05:59] fandrei commented on #117
This info should be enough. Strange that this never surfaced in preprod monitoring.

[2012-09-04 08:20] fandrei commented on #115
Not sure about Git-Tf; when I'm trying to use it, getting this error message:
git-tf: User config file C:\Users\Administrator.gitconfig invalid org.eclipse.jgit.errors.ConfigInvalidException: Cannot read file C:\Users\Administrator.gitconfig
UPD if it says file is invalid, probably this is due to Git updated config file format

Anyway, according to the documentation http://download.microsoft.com/d

[2012-09-04 09:07] mrdavidlaing commented on #117
The labs environment machines get rebooted every night when they are backed up.  The production environment doesn't (yet).  This is probably why we didn't notice it.  (and suggests a possible short term solution)

[2012-09-04 09:12] mrdavidlaing commented on #115
Agree with your analysis.

Concerning dealing with deleted files - how about doing the copy step using a merge tool like win-merge.  Or a windows rsync clone.

[2012-09-04 12:28] fandrei commented on #117
UPD can I also have binary files from "C:\ProgramData\City Index\CIAPI Latency Collector\" and config from the config server?

[2012-09-04 13:02] mrdavidlaing commented on #117
On `metrics.labs.cityindex.com` see

[code]

[2012-09-05 09:55] fandrei commented on #117
I've found some clues; service process contains a lot of assemblies auto-generated by .NET Framework; investigating what piece of code makes them appear.

[2012-09-05 10:25] fandrei commented on #117
The problem was due to XmlSerializer re-created multiple times (each instantiation of this class generates a unique serialization assembly, that never unloads)

[2012-09-05 10:25] #117 closed, assigned to fandrei

[2012-09-05 11:30] mrdavidlaing commented on #117
Wierd - so you're saying that in [this code](https://github.com/fandrei/CiapiLatencyCollector/blob/4dbdf73f0625d1a5f7a81ddf42cba17cafec101b/LatencyCollectorCore/AppSettings.cs#L100-110)

[code]

serializer (or some resources that it creates) is never collected / cleaned up by the GC?

[2012-09-05 11:41] fandrei commented on #117
Not serializer itself, but helper assembly created by it.

[2012-09-06 05:30] fandrei commented on #115
Solved the problem with Git-TF, it was due to config file encoding (only ANSI is accepted)

Q: we need to run only build, or full build-and-test suite? If second option, where to setup web applications?

[2012-09-06 08:40] fandrei commented on #117
PS http://blogs.msdn.com/b/tess/archive/2006/02/15/532804.aspx

[2012-09-07 08:36] mrdavidlaing commented on #115
Just run the build + unit tests.  Don't run the integration tests.

On Thu Sep  6 06:30:43 2012, Andrei Faber wrote:

[2012-09-10 22:48] mrdavidlaing opened #118 "Report Node_Name in analytics reports rather than country based on IP"
The production Singapore node's IP (54.251.61.159) is being reported as being based in the US.

Rather than deduce the Country based on the IP as we are doing currently, can we rather just report the friendly Node_Name.  Not only would this be simpler to implement / maintain, it would also be more accurate :smirk:

[2012-09-11 04:51] fandrei commented on #118
It's not too complicated to do.
Alternatively, you can override this location in the GeoIP\override.txt file

[2012-09-13 10:37] fandrei commented on #115
Build is successful. Now I need to fix unit tests.
I put git-tf update script here: C:\Dev\update.bat

[2012-09-13 12:22] mrdavidlaing commented on #115
:+1:  Go you!

[2012-09-13 12:23] mrdavidlaing commented on #75
I've got some simplified & updated scripts running in PPE.  Will leave them running for a week before starting the process of migrating to live.

Still need to figure out how to make the baseUrl (http://analytics.metrics.labs.cityindex.com vs http://analytics.metrics.cityindex.com) a config option (like Username/Password) rather than hardcoded into the script

[2012-09-26 08:44] fandrei commented on #115
Unit tests are working now, but I'm struggling with OpenCover. It gives this error, when running in the TFS system:

No results - no assemblies that matched the supplied filter were instrumented this could be due to missing PDBs for the assemblies that match the filter please review the output file and refer to the Usage guide (Usage.rtf)

All PDBs are present and up-to-date. Have you ever had suc

[2012-09-26 15:27] mrdavidlaing commented on #115
I vote for not including OpenCover in the TFS build for now.

[2012-09-27 07:57] fandrei commented on #115
Maybe we can keep it as it is now (OpenCover is running, but not generating any results).

I've found, that the problem is somewhat related to type filtering. With filter

[code]

 it works, but when some type exclusions are added (for CassiniDev, etc)

[code]

 OpenCover doesn't work on TFS machine correctly. But exactly the same parameters are working on Jenkins and my local machine. Weird.

[2012-10-01 13:33] mrdavidlaing commented on #101
@Andrei - Can you ensure that AppMetrics is using CIAPI.CS > v8.2 & thus ReliableHttpClient > 1.0.6.17, and that the CIAPI Latency Collectors:
1.  Do not still introduce an extra 50ms latency
2.  Are taking measurements with the Stopwatch()

If both of those are true, then this ticket can be closed.

[2012-10-02 10:22] #115 closed, assigned to fandrei

[2012-10-02 10:25] #101 closed, assigned to fandrei

[2012-10-02 10:29] fandrei commented on #115
Software setup:

install Java (required for git-tf); add to the PATH variable
install git-tf; add to the path
install WiX
apply SP1 to VS2010 (was required after WiX installation)

PS copy update script C:\Dev\update.bat to the target machine

[2012-10-03 08:28] fandrei commented on #118
Added extra parameter for this - SliceByNodeName=yes

[2012-10-03 08:28] #118 closed, assigned to fandrei

[2012-10-04 04:29] fandrei commented on #118
PS this works for external tracker, but doesn't for built-in (because it sends data separately to a different session file)
Making it working for built-in will require refactoring of CIAPI.CS built-in tracker.

[2012-10-04 09:32] mrdavidlaing commented on #118
Could you create an appropriate pull request for CIAPI.CS please.

[2012-10-04 10:34] fandrei commented on #118
After some more analyzing - maybe it's better to combine data from the latency collector and CIAPI.CS into the same session file on server side. This needs some additional logic in the tracker, but makes analysis and comparison of data way much easier.
What you think?

[2012-10-04 10:41] mrdavidlaing commented on #118
I think we should only have 1 set of data reported and stored.  Having the events named "Login" rather than "/tradingapi/session" is more convienient for analysis.

I'll leave you to choose the best way to implement that (use one of the two existing trackers / combine into one etc.)

[2012-10-04 10:52] fandrei commented on #118
I think it's better to keep 2 sets for now. One gives us network latency, and another network + CIAPI.CS (which is not null yet, at least for some methods). But we can give them different name prefixes.

Converting URLs to friendly names is useful (actually I already done it today). But I'm not sure how to implement it better, because it's specific for CIAPI.CS and not really a part of AppMetrics.

[2012-10-04 11:11] fandrei commented on #118
PS the most simple way is to avoid using MetricsRecorder class and create custom recorder sending data using normal AppMetrics.Client

[2012-10-04 12:03] mrdavidlaing commented on #118
@bitpusher - can you chime in on this one please

[2012-10-04 14:19] mrdavidlaing opened #119 "Analytics Location filter fails with System.ArgumentException: Value does not fall within the expected range"
The following query began failing sometime in the last 2 days

[code]

with error:

[code]

The is the query that the current Solarwinds reports are using.  The intention is to get the measurements for just the Trade service from the Ireland node.

[2012-10-05 16:33] mrdavidlaing opened #120 "Howto set env variables AppMetricsTest_ServiceRootFolder?"
The build on the internal City Index TFS build farm is failing in [ContinuousIntegration/testAndCover.xml](https://github.com/fandrei/AppMetrics/blob/master/ContinuousIntegration/testAndCover.xml#L44-46)

[code]

with error:

[code]

I see that on the EC2 TFS2010 build server there are a set of environment variables set with these names.

Is there a way remove the dependancy on having these enviro

[2012-10-05 16:39] fandrei commented on #120
If we assume that these values are fixed to some relative paths and we don't need to call external server, I can set them default values.

[2012-10-05 17:22] mrdavidlaing commented on #120
Managed to set the pathers from `$(BinariesRoot)` -> 42edc2b5318ce7afac214e0e0686f08dad936bfa

Can we hardcode `AppMetricsTest_AccessKey`?  or perhaps set it at in the TFS build definition screen?

[2012-10-08 05:39] fandrei commented on #120
Fixed. AccessKey can be assigned any value in this case, because by default it's not required on the server side.

[2012-10-08 05:39] #120 closed, assigned to fandrei

[2012-10-08 08:23] fandrei commented on #119
Add this parameter:
&SliceByLocation=Countries

[2012-10-08 08:23] #119 closed, assigned to fandrei

[2012-10-08 11:54] mrdavidlaing commented on #119
Sweet, thanks.

[2012-10-08 14:10] #110 closed, assigned to mrdavidlaing

[2012-10-08 14:12] mrdavidlaing opened #121 "Integrate test results into TFS build reports"
Currently the unit tests for AppMetrics are run as part of both the AppMetrics and the CIAPILatencyMonitor TFS builds, but TFS doesn't report the number that passed.

This issue is comprised of 2 parts:
1.  Integrate the reporting of the test run output into TFS so that TFS shows the number of tests that have run.
2.  Have CIAPILatencyMonitor run and report on its own tests, rather than those of A

[2012-10-10 16:42] mrdavidlaing opened #122 "Run away trade placing"
In the early hours of Oct 10th, the Ireland PPE monitor placed over 1000 trades in a short period of time, rather than the 2 trades / minute that is was suppost to place.

<img src="https://dl.dropbox.com/u/33609233/AppMetrics/2012-09-PPE-CountOfTradesPlaced.png" />

Why?

At the same time, the ListOpenPositions service was slow:

<img src="https://dl.dropbox.com/u/33609233/AppMetrics/2012-09-PPE-

[2012-10-11 04:04] fandrei commented on #122
Re: [AppMetrics] Run away trade placing (#122)
Hello David,
This was a method that tries to close all currently open positions. Log shows it made a lot of attempts to execute Trade (this must be due to big count of open positions), 
all resulting with error message: Red Card: Price tolerance exceeded
Best wishes,
 Andrei Faber
Wednesday, October 10, 2012, 11:42:43 PM, you wrote:
In the early hours

[2012-10-11 11:03] fandrei opened #123 "Exceptions report doesn't work correctly"

[2012-10-11 11:03] #123 closed, assigned to fandrei

[2012-10-11 11:17] mrdavidlaing commented on #122
Looks like its happening in PROD too:

<img src="https://dl.dropbox.com/u/33609233/AppMetrics/2012-09-PROD-TradesPlaced.png" />

Kinda violates our "2 trades / min" self throttling :)

Can we:
1.  Prevent the Red Card
2.  Close all the open positions in one request

[2012-10-11 12:09] mrdavidlaing commented on #123
Fixed by 3fb5a5c8c720a915eb0844a876d745a3a59ada8c

[2012-10-11 14:14] mrdavidlaing commented on #75
Bummer - looks like v5 of Solarwinds SAM doesn't support script variables - although it is slated for the next release.

http://thwack.solarwinds.com/thread/47254

[2012-10-11 15:32] mrdavidlaing commented on #75
Have a [temporary workaround based on monitoring node IP](https://github.com/fandrei/AppMetrics/blob/c2cf39b81c05d997a54e0c9e7f4e97414c9f02f3/Solarwinds/CIAPI%20Latency%20Monitor.apm-template#L98-101)

[code]

This will have to do until Solarwinds supports script variables

[2012-10-11 15:32] #75 closed, assigned to mrdavidlaing

[2012-10-12 07:11] fandrei commented on #122
I have no idea how to avoid this particular error. I'm requesting price and making new trade immediately. Must be something on the server side.

Closing all positions in one request is a good idea. Multiple open positions still will remain open, but at least it won't make series of unsuccessful attempts to close positions.
Working on this.

[2012-10-12 13:43] mrdavidlaing opened #124 "config.aspx / "Check data being received" link hardcoded to metrics.labs.cityindex.com"
Specifically, on `http://config.metrics.cityindex.com/config.aspx`

the link points to `http://analytics.metrics.labs.cityindex.com` when it should point to `http://analytics.metrics.cityindex.com`

This needs to be a config setting so it can be changed during deployment.

[2012-10-12 14:01] mrdavidlaing opened #125 "MSDeploy .cmd scripts reference v1 of MSDeploy rather than v2"
During the deploy to production the following 2 scripts:

[code]

failed complaining that MSdeploy wasn't installed.

Turns out that the following line in the .cmd (line 20)

[code]

Should have been

[code]

Strangely,
CIAPILatencyCollector-v166-TFS-build-51002_WebPackage\LatencyCollectorConfigSite.deploy.cmd worked.

I'd can't figure out why:

(a) the AppMetrics build seems to have been built ag

[2012-10-13 03:31] fandrei commented on #125
I had a similar bug on metrics.labs.cityindex.com box. Initially all was working ok, but after some time it started terminating with error message that MSDeploy path is not found in registry. I tried reinstalling etc, but it didn't help. So I set MsDeployPath environment variable to work around this.

[2012-10-13 03:31] #125 closed, assigned to nobody

[2012-10-15 15:43] mrdavidlaing opened #126 "Update of config.metrics.cityindex.com failed to add <PageUrl> element to AppSettings.xml"
The update of production server failed to add `<PageUrl>` element to `D:\Websites\config.metrics.cityindex.com\CIAPILatencyCollectorConfig\AppSettings`

The config remained as

[code]

Where as it should have been changed (automatically or manually) to

[code]

This has been manually rectified, but there are some underlying issues that need to be addressed:

(a) We forgot this from [the deployment

[2012-10-15 15:47] mrdavidlaing commented on #125
Its really important that details like this make it into the upgrade notes.

The reason is that the deploy to production was almost cancelled because the deploy steps as written didn't work.  It was lucky that I was around and could step in to massage the process; otherwise the deployment would have been thrown back to QA and it would have taken another 2 weeks to get it released again.

[2012-10-18 14:07] fandrei commented on #125
Made note for the future.

[2012-10-19 07:46] fandrei commented on #122
Closing all positions in one request - done.

[2012-10-19 07:46] #122 closed, assigned to fandrei

[2012-10-19 07:51] fandrei commented on #124
As a part of refactoring - maybe it's better to make all 3 sites sub-parts of a single metrics site?

[2012-10-19 08:41] fandrei commented on #90
Works for me. Then, we remove S3 backup?

[2012-10-22 05:16] fandrei commented on #126
Added deployment note. Added exceptions for non-set URLs.
Config:
config.metrics.labs.cityindex.com\App_Data\web.config

[code]

[2012-10-22 05:16] #126 closed, assigned to nobody

[2012-10-23 08:08] fandrei commented on #124
As a temporary solution - try to infer analytics URL from config site URL.

[2012-10-23 13:17] mrdavidlaing commented on #124
Just make it a config option.

I think trying to combine the 3 separate sites is going to have quite a large effect w.r.t the documentation, build process and retraining the delivery team for the live environment.

Lets hold off on this refactoring for the meanwhile.  I'm currently considering whether we should move the whole project over to a cloudfoundry powered environment so as to remove the s

[2012-10-23 13:21] mrdavidlaing commented on #90
Agreed.  Remove S3 backup.  Easiest code to maintain is code you have deleted :)

[2012-10-24 03:42] fandrei commented on #57
Not necessary, as S3 backup is about to be deleted.

[2012-10-24 03:42] #57 closed, assigned to nobody

[2012-10-24 09:53] fandrei commented on #124
Added option "CheckDataUrl" (see here https://github.com/fandrei/CiapiLatencyCollector/wiki/Installation-instructions)

[2012-10-24 10:12] #124 closed, assigned to fandrei

[2012-10-24 12:46] bitpusher commented on #118
wierd, i did not get a notification of this issue.  we can change the metrics recorder any way you like

[2012-11-05 09:31] fandrei commented on #90
What about zipping of old log files; should I keep scheduler task for this, or make it built into AppMetrics website?

[2012-11-05 11:42] mrdavidlaing commented on #90
I'd say keep it as a separate command line tool that can be called via the scheduler.

My experience of trying to get long running tasks working in the context of IIS just a hassle.

[2012-11-07 10:52] fandrei opened #127 "Sometimes latency monitors don't stop correctly"
(there are race conditions)

[2012-11-07 11:13] fandrei opened #128 "Isolate latency collectors in a separate process"
This is necessary to deal with cases, when latency collectors don't stop correctly; when they are executed in a separate process,  it's possible to terminate it forcibly.

[2012-11-07 11:14] #128 closed, assigned to fandrei

[2012-11-07 11:14] fandrei opened #129 "plugin system"
Make it possible to deploy and run different latency collectors as separate plugins

[2012-11-07 11:15] #129 closed, assigned to fandrei

[2012-11-28 11:05] #90 closed, assigned to nobody

[2012-11-28 11:07] #91 closed, assigned to fandrei

[2012-11-28 11:10] fandrei opened #130 "Update EC2 instances creation scripts"
It's necessary to update scripts to use AppMetrics Agent instead of old CiapiLatencyCollector.
Use

[code]

instead of

[code]

[2013-01-24 05:40] fandrei commented on #118
Done. Used custom recorder class.

[2013-01-31 07:21] fandrei opened #133 "Use Windows credentials instead of custom authentication"

[2013-02-05 07:07] #127 closed, assigned to fandrei

[2013-02-05 20:53] sopel opened #134 "Fix service config UI being shown for Windows Installer passive installations and repairs."
I'm having problems with the silent installation done via CloudFormation in the context of #132 - while I'm not at all positive that this is related, I've noticed the following issue:
- installing from a CLI via `AppMetrics.AgentService.msi /quiet` works fine
- installing from a CLI via `AppMetrics.AgentService.msi /passive` does show the service config UI, which is violating the specification of

[2013-02-06 03:36] fandrei commented on #134
Wow. I wish all bug reports were like this.

[2013-02-06 04:05] fandrei commented on #134
Done as suggested - i.e. show config dialog only in msiUILevelFull and msiUILevelReduced modes. Works well for you?

[2013-02-06 09:36] mrdavidlaing commented on #134
:+1: for awesome bug reports.  @sopel - I'm sensing a tech radar article on
this...

On Wednesday, February 6, 2013, Andrei Faber wrote:

##

David Laing
Open source @ City Index - github.com/cityindex
http://davidlaing.com
Twitter: @davidlaing

[2013-02-06 10:01] sopel commented on #134
Excellent, this works as desired in itself now and has indeed solved the issue I've encountered as well, thanks :)

[2013-02-06 10:01] #134 closed, assigned to fandrei

[2013-03-11 03:51] fandrei opened #135 "Fix the broken build (unauthenticated exception in the integration tests)"

[2013-03-11 04:13] fandrei commented on #135
The reason was due to some changes in the "mask passwords" jenkins plugin - it started enclosing password in quotemarks. (probably due to some chars in the password value)
I've created a new user/password pair, not it works well.

[2013-03-11 04:13] #135 closed, assigned to fandrei

[2013-03-13 14:01] mrdavidlaing opened #136 "Identify whether our measurements are affected by the coordinated omission problem"
Full description of the issue at:
http://labs.cityindex.com/labs-team/2013/03/13/the-coordinated-omission-problem/

This encompasses:
1.  Extending our reports to detect where our current measurements are affected
2.  Testing our measurements against a service which exhibits "pausing" behaviour, and ensuring that our reports reflect this pause

[2013-03-14 10:12] sopel commented on #136
Sounds reasonable, nicely spotted! Would it be possible to include the maximum too in this chart, which is the most obvious indicator as per Gil Tene’s explanation?

[2013-03-14 12:29] mrdavidlaing commented on #136
Same graph, but including max.  (note that the line colors have changed)
![Capture](https://f.cloud.github.com/assets/227505/258631/c27fce40-8ca2-11e2-9a86-7638263908c1.PNG)

[2013-03-15 12:52] fandrei commented on #136
Not necessarily. Number of measurements can go down due to increased count of exceptions. (I'm afraid currently  count of exceptions is not reported due to a bug)
It's a common pattern that count of exceptions increases aside with increased latency when server problems happen.

Currently data are polled once a minute, and to affect our data significantly, max latency of a single request should be

[2013-03-20 09:39] mrdavidlaing commented on #136
1.  You are right; the fact that our polling period of 1 min is much larger than our longest measured request (10 sec) means our data hasn't falled fowl of co-ordinated omission.
2.  Practically we're not going to be allowed to poll more frequently than 1 / min; so this is just data we can't gather.

[2013-03-20 10:19] #136 closed, assigned to fandrei

[2013-06-28 05:50] fandrei opened #139 "System.NotImplementedException shows up in logs when using AppMetrics.Client under Mono"

[2013-06-28 06:36] fandrei commented on #139
Fixed (see https://github.com/fandrei/AppMetrics/commit/e2f47aeb643cfedd79be37d491b972309ed76b44 and 3 next commits)

[2013-06-28 06:37] #139 closed, assigned to fandrei

[2013-07-01 08:44] fandrei opened #140 ""Stack overflow in unmanaged" exception when using AppMetrics.Client under Mono"
As reported by @mrdavidlaing : https://github.com/fandrei/AppMetrics/pull/138

From cityindex/csharp-bot-development-flow#8

Running an app under mono 3.0.10 on Ubuntu 12.04 using Tracker functionality from  AppMetrics.Client.dll fails with the following

[code]

[2013-07-02 06:33] fandrei commented on #140
https://github.com/cityindex/csharp-bot-development-flow/issues/8

[2013-07-24 03:18] fandrei commented on #140
fixed

[2013-07-24 03:18] #140 closed, assigned to fandrei

[2013-10-11 05:25] fandrei commented on #102
http://labs.cityindex.com/performance/2013/01/30/ciapi-production-latency-monitoring-appmetrics-vs-iis-august-2012-to-january-2013/

[2013-10-11 05:25] #102 closed, assigned to nobody